{% extends "help-guides/support-layout.njk" %}
{% set pageHeader = content[i18n.language].helpGuides.claimExpenses.title | safe %}
{% block pageTitle %}
  {{ content[i18n.language].helpGuides.claimExpenses.title | safe }} - {{ content[i18n.language].general['ibca-serviceTitle'] }} - {{ content[i18n.language].general.govUK }}
{% endblock pageTitle %}
{% block supportTitle %}
  {{ content[i18n.language].helpGuides.claimExpenses.title | safe }}
{% endblock supportTitle %}
{% block supportContent %}
  <p class="govuk-!-font-size-24">{{ content[i18n.language].helpGuides.claimExpenses.entry | safe }}</p>
  <p>{{ content[i18n.language].helpGuides.claimExpenses.para1 | safe }}</p>
  <p>{{ content[i18n.language].helpGuides.claimExpenses.para2 | safe }}</p>
{% endblock supportContent %}
