{% extends "help-guides/template.html" %}

{% set pageHeader = 'Providing evidence to support your appeal' %}
{% block pageTitle %}
   Providing evidence - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block supportTitle %}
   Providing evidence to support your appeal
{% endblock%}

{% block supportContent %}
        <p class="lede">Evidence is any information that supports your side of the appeal, such as a letter, written statement or medical report. It can help the tribunal understand the facts of your appeal. You do not have to send in evidence but it can help your appeal. </p>
        <p>You should send any evidence to the tribunal as soon as you can. This is so the tribunal have time to consider it before making a decision on your appeal.</p>

        <h2 class="govuk-heading-m">Medical evidence </h2>
        <p>This type of evidence is useful in appeals where you want to show you have a medical condition. A letter from your doctor, physiotherapist, social worker or hospital consultant can help prove this. A useful letter will explain how your condition affects your life. It should also be focussed on the time that DWP made their decision about your entitlement to the benefit. Letters which just show you had an appointment are not useful.</p>
        <p>Please be aware your doctor may charge you for writing a letter. The tribunal cannot reimburse you for these. 
</p>
        <h2 class="govuk-heading-m">Written statement</h2>
        <p>Someone who lives with you or knows you well you could write a statement or letter. A useful statement describes how your condition affects your life and includes the types of activities you can and cannot do. It should be their own view. It should also be focussed on the time that the DWP made their decision about your entitlement to benefits. </p>

        <p>It can be written by hand or on a computer but it should be signed by the person who wrote it. It should also say what their relationship is to you. 
</p>
        <h2 class="govuk-heading-m">Photographs</h2>
        <p>Sometimes a photo can be useful to help the tribunal panel see how your medical condition affects your life. For example, you could take a picture of any modifications in your home or aids you use to help you move. Do not send in any photos of your body. </p>
        <h2 class="govuk-heading-m">What you say at the hearing</h2>
        <p>What you say at the hearing can be the most useful form of evidence. The tribunal will listen to what you say to help them make a decision on your appeal. </p>
        <p>If you have a carer or someone who supports you at home, you could ask them to come and tell the tribunal about your condition. You should check that they are willing to come and they are available on the day. 
</p>
        <h2 class="govuk-heading-m">Sending evidence to the tribunal</h2>
        <p>You can <a href="/task-list">upload evidence online or write a statement</a>. 
</p>
        <p>Or you can post it to the address below.</p>

        <p>Make sure you include the ‘document cover sheet’, if you post it in. This helps us match your evidence with your appeal. You received this cover sheet in the first letter that was sent to you about your appeal. </p>

        <p>SSCS<br>
        HMCTS SSCS Tribunal<br>
        PO Box 12626<br>
        Harlow<br>
        CM20 9QF</p>

        <p>Make sure the tribunal receive your evidence as soon as possible. This is so they have time to read it before they make a decision. If you send it in too late your appeal may be delayed.</p>

{% endblock%}