{% extends "help-guides/support-layout.html" %}

{% set pageHeader = i18n.helpGuides.evidence.title %}
{% block pageTitle %}
   {{i18n.helpGuides.evidence.title}}   - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{i18n.helpGuides.evidence.title}}
{% endblock%}


{% block supportContent %}
        <p class="govuk-!-font-size-24">{{i18n.helpGuides.evidence.entry}} </p>
        <p>{{i18n.helpGuides.evidence.para1}}</p>
        <h2 class="govuk-heading-m">{{i18n.helpGuides.evidence.medicalEvidenceTitle}}</h2>
        <p>{{i18n.helpGuides.evidence.medicalEvidenceDesc.para1 }}</p>
        <p>{{i18n.helpGuides.evidence.medicalEvidenceDesc.para2 }}</p>
        <h2 class="govuk-heading-m">{{i18n.helpGuides.evidence.writtenStatementTitle }}</h2>
        <p>{{i18n.helpGuides.evidence.writtenStatementDesc.para1 }}</p>
        <p>{{i18n.helpGuides.evidence.writtenStatementDesc.para2 }}</p>
        <h2 class="govuk-heading-m">{{i18n.helpGuides.evidence.photographsTitle }}</h2>
        <p>{{i18n.helpGuides.evidence.photographsDesc.para1 }}</p>
        <h2 class="govuk-heading-m">{{i18n.helpGuides.evidence.whatYouSayTitle }}</h2>
        <p>{{i18n.helpGuides.evidence.whatYouSayDesc.para1 }}</p>
        <p>{{i18n.helpGuides.evidence.whatYouSayDesc.para2 }}</p>
        <h2 class="govuk-heading-m">{{i18n.helpGuides.evidence.sendingEvidenceTitle }}</h2>
        <p>{{i18n.helpGuides.evidence.sendingEvidenceDesc.para1 | safe }}</p>
        <p>{{i18n.helpGuides.evidence.sendingEvidenceDesc.para2 | safe }}</p>
        <p>{{i18n.helpGuides.evidence.sendingEvidenceDesc.para3 | safe }}</p>
{% endblock%}