{% extends "help-guides/support-layout.njk" %} {% set pageHeader = content[i18n.language].helpGuides.withdrawAppeal.title | safe %}
{% set ibcaPrefix = 'ibca-' if ibcaEnabled  %}
{% block pageTitle %}
  {{ content[i18n.language].helpGuides.withdrawAppeal.title }}
  - {{ content[i18n.language].general.serviceTitle }} - {{ content[i18n.language].general.govUK }}
{% endblock pageTitle %}
{% block supportTitle %}
  {{ content[i18n.language].helpGuides.withdrawAppeal.title }}
{% endblock supportTitle %}
{% block supportContent %}
  <p class="govuk-!-font-size-24">{{ content[i18n.language].helpGuides.withdrawAppeal[ibcaPrefix + 'entry'] }}</p>
  <p>{{ content[i18n.language].helpGuides.withdrawAppeal.para1 }}</p>
  <p>{{ content[i18n.language].helpGuides.withdrawAppeal.para2 }}</p>
  <p>{{ content[i18n.language].helpGuides.withdrawAppeal.para3 | safe }}</p>
{% endblock supportContent %}
