{% extends "help-guides/support-layout.html" %}

{% block supportTitle %}
   Representatives
{% endblock%}

{% block supportContent %}
    <p class="govuk-!-font-size-24">You can appoint someone as a ‘representative’ to help you with your benefit appeal. </p>
    <p>A representative can:</p>
    <ul class="govuk-list govuk-list-bullet">
        <li>help you submit your appeal or prepare evidence</li>
        <li>act on your behalf during the appeal (they should ask your permission first)</li> 
        <li>give you advice</li>
    </ul>
    <p>Anyone can be a representative, including friends and family. A good representative will know about the benefits system and can advise you on the law. </p>
    <p>You can find representatives at your local advice centre, law centre or <a href="https://www.citizensadvice.org.uk/">Citizens Advice.</a></p>
    <h3 class="govuk-heading-s">Representative </h3>
    <p>If you have someone who you would like to be your representative then you can <a href="your-representative-register">register them here</a>.</p>
{% endblock%}