{% extends "help-guides/support-layout.html" %}
{% set pageHeader = content.en.helpGuides.withdrawAppeal.title %}
{% block pageTitle %}
   {{content.en.helpGuides.withdrawAppeal.title}}   - {{ content.en.general.serviceTitle }} - {{ content.en.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{content.en.helpGuides.withdrawAppeal.title}}
{% endblock%}

{% block supportContent %}
     <p class="govuk-!-font-size-24">{{content.en.helpGuides.withdrawAppeal.entry}}</p>
     <p>{{content.en.helpGuides.withdrawAppeal.para1}}</p>
     <p>{{content.en.helpGuides.withdrawAppeal.para2}}</p>
     <p>{{content.en.helpGuides.withdrawAppeal.para3 | safe}}</p>
{% endblock%}
