{% extends "help-guides/support-layout.html" %}

{% block supportTitle %}
   Claiming expenses to attend your hearing
{% endblock%}

{% block supportContent %}
      <p class="govuk-!-font-size-24">You may be able to claim back some of the money you spend on attending your hearing.</p>
      <p>You should use public transport where possible. Keep your travel tickets and bring them with you to your hearing. You’ll be given a claim form to fill out by the tribunal clerk.</p>
      <p>If you have a health condition or disability which means you can’t get yourself to the hearing then you might be able to claim for a taxi. You’ll need to get authorisation first by phoning 0300 123 1142.</p>
{% endblock%}