<div class="govuk-related-items" role="complementary">
  <h2 class="govuk-heading-s" id="subsection-title">
    {{ content[i18n.language].helpGuides.relatedLinks.title | safe }}
  </h2>
  <div role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-body-s govuk-list">
      {% if req and req.url !== "/support-evidence" %}
      <li>
        <a href="/support-evidence"
          >{{ content[i18n.language].helpGuides.relatedLinks.supportEvidence |
          safe }}</a
        >
      </li>
      {% endif %} {% if req and req.url !== "/support-representatives" %}
      <li>
        <a href="/support-representatives"
          >{{
          content[i18n.language].helpGuides.relatedLinks.supportRepresentatives
          | safe }}</a
        >
      </li>
      {% endif %} {% if req and req.url !== "/support-hearing" %}
      <li>
        <a href="/support-hearing"
          >{{ content[i18n.language].helpGuides.relatedLinks.supportHearing |
          safe }}</a
        >
      </li>
      {% endif %} {% if req and req.url !== "/support-hearing-expenses" %}
      <li>
        <a href="/support-hearing-expenses"
          >{{
          content[i18n.language].helpGuides.relatedLinks.supportHearingExpenses
          | safe }}</a
        >
      </li>
      {% endif %} {% if req and req.url !== "/support-withdraw-appeal" %}
      <li>
        <a href="/support-withdraw-appeal"
          >{{
          content[i18n.language].helpGuides.relatedLinks.supportWithdrawAppeal |
          safe }}</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>
