{% extends "help-guides/support-layout.html" %}
{% set pageHeader = content.en.helpGuides.claimExpenses.title %}
{% block pageTitle %}
   {{content.en.helpGuides.claimExpenses.title}}   - {{ content.en.general.serviceTitle }} - {{ content.en.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{content.en.helpGuides.claimExpenses.title}}
{% endblock%}

{% block supportContent %}
      <p class="govuk-!-font-size-24">{{content.en.helpGuides.claimExpenses.entry}}</p>
      <p>{{content.en.helpGuides.claimExpenses.para1}}</p>
      <p>{{content.en.helpGuides.claimExpenses.para2}}</p>
{% endblock%}
