{% extends "help-guides/support-layout.html" %}
{% set pageHeader = i18n.helpGuides.hearing.title %}
{% block pageTitle %}
   {{i18n.helpGuides.hearing.title}}   - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{i18n.helpGuides.hearing.title}}
{% endblock%}


{% block supportContent %}
    <p class="govuk-!-font-size-24">{{i18n.helpGuides.hearing.entry}}</p>
    <img src="/public/images/hearing-formal-2panel.jpg" width="100%">
    <p>{{i18n.helpGuides.hearing.imageText}}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.beforeHearingTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.beforeHearingDesc.para1}}</p> 
    <p>{{i18n.helpGuides.hearing.beforeHearingDesc.para2}}</p>
    <h2 class="hgovuk-heading-m">{{i18n.helpGuides.hearing.arriveTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.arriveDesc.para1 | safe }}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.hearingRoomTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.hearingRoomDesc.para1}}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.peopleInTheRoomTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.peopleInTheRoomDesc.para1}}</p>
    <p>{{i18n.helpGuides.hearing.peopleInTheRoomDesc.para2}}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.duringHearingTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.duringHearingDesc.para1}}</p>
    <p>{{i18n.helpGuides.hearing.duringHearingDesc.para2}}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.gettingDecisionTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.gettingDecisionDesc.para1}}</p>
    <p>{{i18n.helpGuides.hearing.gettingDecisionDesc.para2}}</p>
    <p>{{i18n.helpGuides.hearing.gettingDecisionDesc.para3}}</p>
    <h2 class="govuk-heading-m">{{i18n.helpGuides.hearing.dwpTitle}}</h2>
    <p>{{i18n.helpGuides.hearing.dwpDesc.para1}}</p>
{% endblock%}