{% extends "layout.njk" %} {% from "back-link/macro.njk" import govukBackLink
%} {% from "components/mya-contact-us.njk" import contactUs with context %} {%
block beforeContent %} {{super()}} {{ govukBackLink({ href: "#", text:
content[i18n.language].general.back, attributes : { onclick: "history.go(-1);
return false;" } }) }} {% endblock%} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{% block supportTitle %} {% endblock %}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% block supportContent %} {% endblock %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "help-guides/support-related-links.njk" %}
  </div>
</div>
{{ contactUs(false) }} {% endblock %}
