{% extends "help-guides/support-layout.njk" %}
{% set pageHeader = content[i18n.language].helpGuides.hearing.title %}
{% set directionSuffix = 'Direction' if directionEnabled %}
{% block pageTitle %}
  {{ content[i18n.language].helpGuides.hearing.title }} - {{ content[i18n.language].general.serviceTitle }} - {{ content[i18n.language].general.govUK }}
{% endblock pageTitle %}
{% block supportTitle %}
  {{ content[i18n.language].helpGuides.hearing.title }}
{% endblock supportTitle %}
{% block supportContent %}
  <p class="govuk-!-font-size-24">{{ content[i18n.language].helpGuides.hearing['entry' + directionSuffix] }}</p>
  <img src="/public/images/hearing-formal-2panel.jpg"
       width="100%"
       alt="{{ content[i18n.language].helpGuides.hearing.imageText }}"/>
  <p aria-hidden="true">{{ content[i18n.language].helpGuides.hearing.imageText }}</p>
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing.beforeHearingTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.beforeHearingDesc.para1 }}</p>
  <p>{{ content[i18n.language].helpGuides.hearing.beforeHearingDesc.para2 }}</p>
  <h2 class="hgovuk-heading-m">{{ content[i18n.language].helpGuides.hearing.arriveTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.arriveDesc.para1 | safe }}</p>
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing.hearingRoomTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.hearingRoomDesc.para1 }}</p>
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing.peopleInTheRoomTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.peopleInTheRoomDesc.para1 }}</p>
  <p>{{ content[i18n.language].helpGuides.hearing.peopleInTheRoomDesc.para2 }}</p>
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing.duringHearingTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.duringHearingDesc['para1' + directionSuffix] }}</p>
  <p>{{ content[i18n.language].helpGuides.hearing.duringHearingDesc['para2' + directionSuffix] }}</p>
  {% if directionEnabled %}
    <p>{{ content[i18n.language].helpGuides.hearing.duringHearingDesc['para3' + directionSuffix] }}</p>
  {% endif %}
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing.gettingDecisionTitle }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.gettingDecisionDesc['para1' + directionSuffix] }}</p>
  <p>{{ content[i18n.language].helpGuides.hearing.gettingDecisionDesc.para2 }}</p>
  <p>{{ content[i18n.language].helpGuides.hearing.gettingDecisionDesc.para3 }}</p>
  <h2 class="govuk-heading-m">{{ content[i18n.language].helpGuides.hearing['dwpTitle' + directionSuffix] }}</h2>
  <p>{{ content[i18n.language].helpGuides.hearing.dwpDesc['para1' + directionSuffix] }}</p>
{% endblock supportContent %}
