{% extends "help-guides/support-layout.html" %}
{% set pageHeader = i18n.helpGuides.withdrawAppeal.title %}
{% block pageTitle %}
   {{i18n.helpGuides.withdrawAppeal.title}}   - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{i18n.helpGuides.withdrawAppeal.title}}
{% endblock%}

{% block supportContent %}
     <p class="govuk-!-font-size-24">{{i18n.helpGuides.withdrawAppeal.entry}}</p>
     <p>{{i18n.helpGuides.withdrawAppeal.para1}}</p>   
     <p>{{i18n.helpGuides.withdrawAppeal.para2}}</p>
     <p>{{i18n.helpGuides.withdrawAppeal.para3 | safe}}</p>
{% endblock%}
