{% extends "help-guides/support-layout.html" %}
{% set pageHeader = content.en.helpGuides.hearing.title %}
{% block pageTitle %}
   {{content.en.helpGuides.hearing.title}}   - {{ content.en.general.serviceTitle }} - {{ content.en.general.govUK }}
{% endblock %}

{% block supportTitle %}
   {{content.en.helpGuides.hearing.title}}
{% endblock%}


{% block supportContent %}
    <p class="govuk-!-font-size-24">{{content.en.helpGuides.hearing.entry}}</p>
    <img src="/public/images/hearing-formal-2panel.jpg" width="100%" alt="{{content.en.helpGuides.hearing.imageText}}">
    <p aria-hidden="true">{{content.en.helpGuides.hearing.imageText}}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.beforeHearingTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.beforeHearingDesc.para1}}</p>
    <p>{{content.en.helpGuides.hearing.beforeHearingDesc.para2}}</p>
    <h2 class="hgovuk-heading-m">{{content.en.helpGuides.hearing.arriveTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.arriveDesc.para1 | safe }}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.hearingRoomTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.hearingRoomDesc.para1}}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.peopleInTheRoomTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.peopleInTheRoomDesc.para1}}</p>
    <p>{{content.en.helpGuides.hearing.peopleInTheRoomDesc.para2}}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.duringHearingTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.duringHearingDesc.para1}}</p>
    <p>{{content.en.helpGuides.hearing.duringHearingDesc.para2}}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.gettingDecisionTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.gettingDecisionDesc.para1}}</p>
    <p>{{content.en.helpGuides.hearing.gettingDecisionDesc.para2}}</p>
    <p>{{content.en.helpGuides.hearing.gettingDecisionDesc.para3}}</p>
    <h2 class="govuk-heading-m">{{content.en.helpGuides.hearing.dwpTitle}}</h2>
    <p>{{content.en.helpGuides.hearing.dwpDesc.para1}}</p>
{% endblock%}
