<!-- Javascript -->
<script src="/public/javascripts/jquery-1.12.2.js"></script>
<script src="/public/javascripts/google-analytics-universal-tracker.js"></script>
<script src="/public/javascripts/analytics.js"></script>
<script src="/public/javascripts/govuk-tracker.js"></script>
<script src="/public/javascripts/tya-analytics-tracker.js"></script>
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/sscs.js"></script>
<script src="/public/javascripts/govuk-template.js"></script>
