<div class="govuk-phase-banner">
    <div class="govuk-phase-banner__content account-navigation">
        <div class="account-navigation__home">
            <img src="/public/images/home.png"/>
            <span class="govuk-phase-banner__text">
                Your benefit appeal
            </span>
        </div>
        <div class="account-navigation__links">
            {% if showSignOut %}
                <a href="/your-details">Your details</a>
                <a href="#">Sign out</a>
            {% else %}
                <a href="/">Sign in</a>
            {% endif %}
        </div>
    </div>
</div>