<div class="govuk-phase-banner">
    <div class="govuk-phase-banner__content account-navigation">
        <div class="account-navigation__home">
            <a href="/status" class="{{ '--not-active' if inDashboard }}">
                <img src="/public/images/home.png" alt="Home Page">
                <span class="govuk-phase-banner__text">
                    Your benefit appeal
                </span>
            </a>
        </div>
        <div class="account-navigation__links">
            {% if showSignOut %}
                <a href="/your-details">Your details</a>
                <a class="sign-out" href="/sign-out">Sign out</a>
            {% else %}
                <a href="/">Sign in</a>
            {% endif %}
        </div>
    </div>
</div>
