<div class="govuk-phase-banner">
    <div class="govuk-phase-banner__content account-navigation">
        <div class="account-navigation__home">
            <a href="/status" class="{{ "--not-active" if inDashboard }}">
                <img src="/public/images/home.png" alt="{{ content[i18n.language].common.homePage | safe }}">
                <span class="govuk-phase-banner__text">
                    {{ content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal | safe }}
                </span>
            </a>
        </div>
        <div class="account-navigation__links">
            {% if showSignOut %}
                <a href="/your-details">{{ content[i18n.language].common.appealDetails | safe }}</a>
                <a class="sign-out" id="sign-out" href="/sign-out">{{ content[i18n.language].common.signOut | safe }}</a>
            {% else %}
                <a href="/">{{ content[i18n.language].common.signIn | safe }}</a>
            {% endif %}
        </div>
    </div>
</div>
