<div id="app-cookie-banner">
  <p class="app-cookie-banner__message">
    {{ content[i18n.language].cookieBanner.message | safe }}<a
      href="/cookie-policy"
      class="govuk-link"
      >{{ content[i18n.language].cookieBanner.link | safe }}</a
    >
  </p>
</div>
