{% if postBulkScan %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ content.en.postEvidence.header }}</h1>
      <p>{{ content.en.postEvidence.info }}</p>

      <address class="--margin-bottom-m" aria-label="{{ content.en.postEvidence.screenReaderPostalAddress }}">
        <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ content.en.postEvidence.postalAddress | safe }}</span>
      </address>
      <p>{{ content.en.postEvidence.para1 | eval | safe }}</p>
      <p>{{ content.en.postEvidence.para2 | eval | safe }}</p>
      <p>{{ content.en.postEvidence.para3 | eval | safe }}</p>
    </div>
  </div>
{% else %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ content.en.additionalEvidence.evidencePost.header }}</h1>
    <p>{{content.en.additionalEvidence.evidencePost.subtitle}}</p>
    <address class="--margin-bottom-m" aria-label="{{ content.en.guidance.sendingEvidence.screenReaderPostalAddress }}">
      <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ content.en.guidance.sendingEvidence.postalAddress | safe }}</span>
    </address>
    <div class="govuk-details__text --margin-bottom-m">
      <p>
        {{ content.en.additionalEvidence.evidencePost.description.para1 }}<br/>
        <strong>{{ caseRef }}</strong>
      </p>
    </div>
  </div>
{% endif %}
