<h2 class="govuk-heading-s">{{ contact.guidance.sendingEvidence.byEmailHeader | safe }}</h2>
<p><a href="mailto:{{ contact.contactEmail }}?subject=Evidence:%20{{ hearing.case_reference }}">{{ contact.contactEmail | safe }}</a></p>
<h2 class="govuk-heading-s">{{ contact.guidance.sendingEvidence.byPostHeader | safe }}</h2>

{% if postBulkScan %}
    <address class="--margin-bottom-m" aria-label="{{ contact.postEvidence.screenReaderPostalAddress | safe }}">
        <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ contact.postEvidence.postalAddress | safe }}</span>
    </address>
    <p>{{ contact.postEvidence.para1 | eval | safe }}</p>
{% else %}
    <address aria-label="{{ contact.guidance.sendingEvidence.screenReaderPostalAddress | safe }}">
        <span aria-hidden="true">{{ contact.guidance.sendingEvidence.postalAddress | safe }}</span>
    </address>
    <p>{{ contact.question.sendingEvidence.details.closingPara1 | safe }}</p>
{% endif %}

<p>{{ contact.question.evidenceUpload.postEvidence.details.closingPara1 | safe }}</p>
<p>{{ contact.question.evidenceUpload.postEvidence.details.closingPara2 | safe }}</p>
