#question-field {
  width: 75%;
}

#sending-evidence-guide {
  h3.govuk-heading-s {
    margin-bottom: 6px;
  }
  div {
    padding-left: 0;
    border: none;
  }
}

#question-body {
  white-space: pre-wrap;
}
