*

!package.json
!yarn.lock
!app
!config/**
!app/common/locale/**
!public
!views/**
!cookie-banner/**
!webpack/**
!webpack.config.js

!tsconfig.json
!server.js

!.yarn
!.yarnrc.yml
.yarn/cache
.yarn/install-state.gz