*

!package.json
!yarn.lock
!app/**
!config/**
!app/common/locale/**
!public/**
!views/**
!cookie-banner/**

!tsconfig.json
!server.js
!webpack/**
!webpack.config.js

!.yarn/plugins
!.yarn/releases
!.yarnrc.yml
.yarn/cache
.yarn/install-state.gz