node_modules/
public/
functional-output/
govuk_modules/
test/coverage
dist
app/client/javascript/*.js
app/client/js/*.js
test/crossbrowser/pages/steps.js
test/accessibility/**/*.js
test/browser/**/*.js
test/integration/**/*.js
test/page-objects/**/*.js
test/unit/**/*.js
test/*.js
cookie-banner/

# Ignore artifacts:
build
coverage
