*.map
.idea
node_modules
yarn-error.log
public
test/coverage
.nyc_output
functional-output/*
dump.rdb
.vscode
.DS_Store
dist
app/client/javascript/*.js
test/accessibility/**/*.js
test/browser/**/*.js
test/integration/**/*.js
test/page-objects/**/*.js
test/unit/**/*.js
test/*.js
test/chai-sinon.js
.terraform/
cookie-banner/
./yarn-audit-issues
.terraform.lock.hcl

# Terraform
infrastructure/.terraform/**
infrastructure/.terraform.lock.hcl
infrastructure/override.tf


# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/lib/
