{
  "include": [
    "app/server/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "app/client/javascript/main.ts",
    "app/server/app-insights.ts",
    "app/server/routes.ts",
    "app/server/server.ts"
  ],  
  "reporter": [
    "lcov",
    "text"
  ],
  "extension": [
    ".ts"
  ],
  "report-dir": "./test/coverage/html",
  "temp-directory": "./test/coverage/.nyc_output",
  "all": true
}