{
  "include": [
    "app/**/*"
  ],
  "exclude": [
    "**/*.d.ts",
    "app/server.js",
    "app/server/controllers/*.js"
  ],  
  "reporter": [
    "lcov",
    "text"
  ],
  "extension": [
    ".ts"
  ],
  "report-dir": "./test/coverage/html",
  "temp-directory": "./test/coverage/.nyc_output",
  "all": true
}