{
  "include": [
    "app/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "app/server/app.ts",
    "app/server/server.ts",
    "app/server/controllers/idam-stub.ts",
    "app/client/javascript/main.ts",
    "app/server/app-configurations.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "extension": [
    ".ts"
  ],
  "check-coverage": true,
  "excludeNodeModules": true,
  "report-dir": "./test/coverage/html",
  "temp-directory": "./test/coverage/.nyc_output",
  "temp-dir": "./test/coverage/.nyc_output",
  "all": true,
  "lines": 50,
  "statements": 50,
  "functions": 50,
  "branches": 50
}
