{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block beforeContent %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       {% if extend == 'yes' %}

        {% include "extend-deadline/confirmation-yes.html" %}

      {% else %}

        {% include "extend-deadline/confirmation-no.html" %}

      {% endif %}

      <p>
        <a href="/task-list" class="govuk-link">{{ i18n.backLink }}</a>
      </p>

    </div>
  </div>
{% endblock %}