<details class="govuk-details contact-include">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ i18n.contact.summary }}
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3>{{ i18n.contact.email.header }}</h3>
    <p>
      <a href="">{{ i18n.contact.email.link.text }}</a> {{ i18n.contact.email.link.newWindow }}<br />
      {{ i18n.contact.email.text }}
    </p>

    <h3>{{ i18n.contact.telephone.header }}</h3>
    <p>{{ i18n.contact.telephone.no }}<br />{{ i18n.contact.telephone.hours }}</p>
  </div>
</details>