{% macro contactUs(showSupport = true) %}
    {% if showSupport  %}
        {% include "includes/divider.html" %}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="mya-contact__content">
                {% if showSupport %}
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ i18n.helpGuides.header }}</h2>
                    <ul class="govuk-list">
                        <li><a href="/support-evidence">{{ i18n.helpGuides.relatedLinks.supportEvidence }}</a></li>
                        <li><a href="/support-representatives">{{ i18n.helpGuides.representatives.linkHeader }}</a></li>
                        <li><a href="/support-hearing">{{ i18n.helpGuides.relatedLinks.supportHearing }}</a></li>
                        <li><a href="/support-hearing-expenses">{{ i18n.helpGuides.relatedLinks.supportHearingExpenses }}</a></li>
                        <li><a href="/support-withdraw-appeal">{{ i18n.helpGuides.withdrawAppeal.linkHeader }}</a></li>
                    </ul>
                {% endif %}
                <details class="govuk-details contact-us">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ i18n.contactUs.title }}
                        </span>
                    </summary>

                    {% if webChatEnabled and i18n.language == "en" %}
                        <div class="govuk-details__text">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ i18n.contactUs.webchat.title }}</h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">{{ i18n.contactUs.webchat.desc }}</p>
                            <div id="ctsc-web-chat">Loading</div>
                        </div>
                    {% endif %}
                    {% if contactUsWebFormEnabled %}
                        <div class="govuk-details__text">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ i18n.contactUs.webform.title }}</h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">{{ i18n.contactUs.webform.desc }}</p>
                            <p class="govuk-body">
                                <a class="govuk-link" href="{{ webFormUrl }}" target="_blank">{{ i18n.contactUs.webform.link }}</a>
                            </p>
                        </div>
                    {% endif %}
                    {% if contactUsTelephoneEnabled %}
                        <div class="govuk-details__text">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.title }}</h2>
                            <p class="govuk-body govuk-!-margin-bottom-2">{{ i18n.contactUs.telephone.desc }}</p>
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.England.desc }}</h3>
                            <p class="govuk-body govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.England.phone }}</p>
                            <p class="govuk-body govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.England.availability }}</p>
                            <p class="govuk-body govuk-!-margin-bottom-2">{{ i18n.contactUs.telephone.England.saturdayAvailability }}</p>
                            <p class="govuk-body govuk-!-margin-bottom-2">{{ i18n.contactUs.telephone.England.emailText }}
                                <a href="mailto:Contactsscs@justice.gov.uk">{{ i18n.contactUs.telephone.England.emailAddress }}</a>
                            </p>
                            <p class="govuk-body govuk-!-margin-bottom-2">
                                <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">{{ i18n.contactUs.telephone.England.charges }}</a>
                            </p>
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.Scotland.desc }}</h3>
                            <p class="govuk-body govuk-!-margin-bottom-0">{{ i18n.contactUs.telephone.Scotland.phone }}</p>
                            <p class="govuk-body govuk-!-margin-bottom-2">{{ i18n.contactUs.telephone.Scotland.availability }}</p>
                            <p class="govuk-body govuk-!-margin-bottom-2">{{ i18n.contactUs.telephone.Scotland.emailText }}
                                <a href="mailto:SSCSA-Glasgow@justice.gov.uk">{{ i18n.contactUs.telephone.Scotland.emailAddress }}</a>
                            </p>
                            <p class="govuk-body">
                                <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">{{ i18n.contactUs.telephone.Scotland.charges }}</a>
                            </p>
                        </div>
                    {% endif %}
                </details>
            </div>
        </div>
    </div>
{% endmacro %}
