{% macro statusBar(text) %}
    <div class="status-bar">
        <div class="status-bar__stage stage--active">
            <div class="status-bar__ring"></div>
            <h4 class="govuk-heading-s">Title</h4>
        </div>
        <div class="status-bar__stage --leg">
            <div class="status-bar__ring"></div>
            <h4 class="govuk-heading-s">Title</h4>
        </div>
        <div class="status-bar__stage --leg">
            <div class="status-bar__ring"></div>
            <h4 class="govuk-heading-s">Title</h4>
        </div>
        <div class="status-bar__stage --leg">
            <div class="status-bar__ring"></div>
            <h4 class="govuk-heading-s">Title</h4>
        </div>
    </div>
{% endmacro %}
