{% macro statusBar(appeal, stages) %}
  <ol class="status-bar" aria-label="{{ content[i18n.language].common.status if content[i18n.language].common.status else 'Appeal progress' }}">
    {% for stage in stages %}
      <li class="status-bar__stage {{ "stage--active" if stage.active }} {{ "leg" if not loop.first }}">
        <div class="status-bar__ring" aria-hidden="true">
        </div>
        <p class="govuk-heading-s">
          <span class="govuk-visually-hidden">{{ (content[i18n.language].common.received if stage.active else content[i18n.language].common.awaiting) | safe }} </span>
          {{ stage.title[i18n.language] | eval }}
        </p>
      </li>
    {% endfor %}
  </ol>
{% endmacro %}
