{% extends "layout.njk" %} {% from "components/navigation-main-tabs.njk"
import navigationMainTabs with context %} {% set pageHeader =
content[i18n.language].selectCase.title | safe %} {% block corContent %}
<h1 class="govuk-heading-xl">
  {{ content[i18n.language].selectCase.heading | safe }}
</h1>
{{ navigationMainTabs("activeTab") }} {% if activeHearingsByName | length %}
<div class="task-list">
  <h2 class="govuk-heading-m --margin-bottom-s">
    {{ content[i18n.language].activeTab.header | safe }}
  </h2>
</div>
{% for name, hearings in activeHearingsByName %}
<h2 class="govuk-heading-m">
  <span id="appellant-name">{{ name | safe }}</span>
</h2>
<div class="divider"></div>
<table class="govuk-table govuk-!-margin-bottom-9">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        {{ content[i18n.language].selectCase.appealReference | safe }}
      </th>
      <th scope="col" class="govuk-table__header">
        {{ content[i18n.language].selectCase.benefit | safe }}
      </th>
      <th scope="col" class="govuk-table__header">
        {{ content[i18n.language].selectCase.dateSubmitted | safe }}
      </th>
      <th scope="col" class="govuk-table__header">
        {{ content[i18n.language].selectCase.mrnDate | safe }}
      </th>
      <th scope="col" class="govuk-table__header">
        {{ content[i18n.language].selectCase.action | safe }}
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for hearing in hearings %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-quarter">
        {{ hearing.case_reference | safe }}
      </td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">
        {{
        content[i18n.language].benefitTypes[hearing.appeal_details.benefit_type.toLowerCase()].acronym
        | safe }}
      </td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">
        {{ hearing.appeal_details.submitted_date | dateFormat('DD MMMM YYYY', i18n.language) }}
      </td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">
        {{ hearing.appeal_details.mrn_date | dateFormat('DD MMMM YYYY', i18n.language) }}
      </td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">
        <a href="/sign-in?code=dummy&caseId={{ hearing.case_id }}"
          >{{ content[i18n.language].selectCase.view | safe }}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %} {% else %}
<div class="task-list">
  <h2 class="govuk-heading-m --margin-bottom-s">
    {{ content[i18n.language].activeTab.noDataMessage | safe }}
  </h2>
</div>
{% endif %} {% endblock %}
