{% from "inset-text/macro.njk" import govukInsetText %}
{% extends "layout.html" %}
{% set pageHeader = i18n.tribunalDecision.header %} 

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.tribunalDecision.header }}</h1>
            {% include "includes/appellant-details.html" %}
        </div>
    </div>

    {% include "includes/divider.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="decision">
                <div id="decision-outcome" class="panel-blue">
                    <h2 class="govuk-heading-m">{{ i18n.tribunalDecision.outcome[decision.decision_state] }}</h2>
                </div>
                <div id="decision-reason">
                    <h2 class="govuk-heading-m">{{ i18n.tribunalDecision.reasonsHeader }}</h2>
                    <p id="decision-text">{{ final_decision }}</p>
                </div>
                {{ govukInsetText({
                    "text": i18n.tribunalDecision.postInfo
                }) }}
            </div>
        </div>
    </div>

{% endblock %}
