{% extends "layout.njk" %} {% from "inset-text/macro.njk" import govukInsetText
%} {% set pageHeader = content[i18n.language].tribunalDecision.header | safe %}
{% block corContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ content[i18n.language].tribunalDecision.header | safe }}
    </h1>
    {% include "includes/appellant-details.njk" %}
  </div>
</div>

{% include "includes/divider.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="decision">
      <div id="decision-reason">
        <h2 class="govuk-heading-m">
          {{ content[i18n.language].tribunalDecision.reasonsHeader | safe }}
        </h2>
        <p id="decision-text">{{ final_decision | safe }}</p>
      </div>
      {{ govukInsetText({ "html":
      content[i18n.language].tribunalDecision.postInfo }) }}
    </div>
  </div>
</div>

{% endblock %}
