{% extends "layout.html" %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "components/navigation-tabs.html" import navigationTabs with context%}
{% set pageHeader = content.en.taskList.header %}

{% block pageTitle %}
    {{ content.en.taskList.header }} - {{ content.en.hearingTab.tabHeader }} - {{ content.en.general.govUK }}
{% endblock %}

{% block corContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ content.en.taskList.header }}</h1>
        {% include "includes/appellant-details.html" %}
    </div>
</div>

{% include "includes/divider.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ navigationTabs('hearing') }}
        <div class="task-list">
            <h2 class="govuk-heading-m --margin-bottom-s">The hearing for your appeal</h2>
            {% if attending %}
                {% if not hearingInfo.hearingDateTime %}
                    <div>{{ content.en.hearingTab.noHearingDate }}</div>
                {% endif %}
                <div class="hearing-details">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date</dt>
                            <dd class="govuk-summary-list__value">
                                {{ hearingInfo.hearingDateTime | dateFilter('DD MMMM YYYY') if hearingInfo else content.en.hearingTab.toBeConfirmed }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Time</dt>
                            <dd class="govuk-summary-list__value">
                                {{ hearingInfo.hearingDateTime | dateFilter('HH:mm') if hearingInfo else content.en.hearingTab.toBeConfirmed }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Location</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingInfo %}
                                    {{ hearingInfo.venueName }} <br />
                                    {{ hearingInfo.addressLine1 }} <br />
                                    {{ hearingInfo.addressLine2 }} <br />
                                    {{ hearingInfo.addressLine3 }} <br />
                                    {{ hearingInfo.postcode }} <br />
                                    <a href="{{ hearingInfo.googleMapUrl }}">{{ content.en.hearingTab.mapsAndDirections }}</a>
                                {% else %}
                                    {{ content.en.hearingTab.toBeConfirmed }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ content.en.hearingTab.languageInterpreter }}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingArrangements.language_interpreter %}
                                    {{ hearingArrangements.languages }}
                                {% else %}
                                    {{ content.en.hearingTab.notRequired }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ content.en.hearingTab.signInterpreter }}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingArrangements.sign_language_interpreter %}
                                    {{ hearingArrangements.sign_language_type }}
                                {% else %}
                                    {{ content.en.hearingTab.notRequired }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ content.en.hearingTab.hearingLoop }}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingArrangements.hearing_loop_required %}
                                    {{ content.en.hearingTab.required }}
                                {% else %}
                                    {{ content.en.hearingTab.notRequired }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ content.en.hearingTab.disableAccess }}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingArrangements.disabled_access_required %}
                                    {{ content.en.hearingTab.required }}
                                {% else %}
                                    {{ content.en.hearingTab.notRequired }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ content.en.hearingTab.otherArrangements }}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if hearingArrangements.other_arrangements %}
                                    {{ hearingArrangements.other_arrangements }}
                                {% else %}
                                    {{ content.en.hearingTab.notRequired }}
                                {% endif %}
                            </dd>
                        </div>
                    </dl>
                    <div>
                        <a href="/support-hearing">{{ content.en.hearingTab.tribunalLookLike }}</a>
                    </div>
                </div>
                {{ govukInsetText({
                    html: content.en.hearingTab.contactIfChanges | eval | safe
                }) }}
            {% else %}
                {{ govukInsetText({
                    text: content.en.hearingTab.notAttending.info
                }) }}
                <p>{{ content.en.hearingTab.notAttending.description }}</p>
                <p>
                    <a href="/support-hearing">{{ content.en.hearingTab.tribunalLookLike }}</a>
                </p>
                <p>
                    {{ content.en.hearingTab.notAttending.contactToAttend | eval | safe }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
