{% extends "layout.njk" %} {% from "components/navigation-tabs.njk" import
navigationTabs with context%} {% from "components/panel.njk" import panel %} {%
set pageHeader = content[i18n.language].taskList.header | safe %} {% block
corContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      {{ content[i18n.language].taskList.header | safe }}
    </h1>
    {% include "includes/appellant-details.njk" %}
  </div>
</div>

{% include "includes/divider.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ navigationTabs("history") }}
    <div class="task-list">
      <h2 class="govuk-heading-m --margin-bottom-s">
        {{ content[i18n.language].historyTab.header | safe }}
      </h2>
      <dl class="govuk-summary-list history-list">
        {% for event in events %}
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ content[i18n.language].appealEvents[event.type].heading |
                  eval | safe }}
                </span>
              </summary>
              <div class="govuk-details__text">
                {{
                content[i18n.language].appealEvents[event.type].content[appeal.hearingType]
                | eval | safe }}
              </div>
            </details>
          </dd>
          <dd class="govuk-summary-list__actions">
            {{ event.date | dateFormat('DD MMMM YYYY', i18n.language)}}
          </dd>
        </div>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock %}
