{% extends "template.njk" %}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
    {{ i18n.pageTitle }}
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block header %}
    {{
        govukHeader({
            "navigation": [
                {
                "href": "/logout",
                "text": "Sign out",
                "active": true
                }
            ]
        })
    }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: i18n.phaseBanner.new + ' <a class="govuk-link" href="#">' + i18n.phaseBanner.feedback + '</a> ' + i18n.phaseBanner.improve
    }) }}
{% endblock %}


{% block bodyEnd %}
    <script src="/public/js/main.js"></script>
{% endblock %}
