{% extends "template.njk" %}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
    {{ i18n.pageTitle }}
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block header %}
    {% set navigation = [] %}
    {% if showSignOut %}
        {% set navigation = [{
            "href": "/sign-out",
            "text": i18n.general.signOut,
            "active": false
        }] %}
    {% endif %}
    {{
        govukHeader({
            "navigation": navigation,
            "navigationClasses": "sign-out"
        })
    }}
{% endblock %}

{% block bodyStart %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4FNRXM"
                  height="0" width="0" style="display:none;visibility:hidden" title="GTM"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "alpha"
        },
        html: i18n.phaseBanner.new + ' <a class="govuk-link" href="#">' + i18n.phaseBanner.feedback + '</a> ' + i18n.phaseBanner.improve
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script src="/public/js/main.js"></script>
{% endblock %}
