{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/mya-contact-us.njk" import contactUs with context %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% set assetPath = "/public/govuk-frontend/" %}
{% block pageTitle %}
  {{ content[i18n.language].pageTitle | safe }}
{% endblock pageTitle %}
{% block head %}
  {% include "includes/head.njk" %}
{% endblock head %}
{% block header %}
  {% if cookieBannerEnabled %}
    {% include "includes/new-cookie-banner.njk" %}
  {% else %}
    {% include "includes/cookie-banner.njk" %}
  {% endif %}
  {% include "includes/header.njk" %}
{% endblock header %}
{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript >
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4FNRXM"
            height="0"
            width="0"
            style="display: none;
                   visibility: hidden"
            title="GTM"></iframe>
  </noscript>
{% if environment === 'production' %}
<script 
    type="text/javascript" 
    src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf00910jpo/16f5f964ab6c179f_complete.js" 
    crossorigin="anonymous"
    integrity="sha384-S3zjnvflO7BJA6DyU2XOAJ5ekINFsWwl4Nq1ooBVGdTwjmsIOtQ3b/O2rhRaTvrc"></script>
{% else %}
  <!-- Dynatrace manual injection snippet (noscript) -->
  <script 
      type="text/javascript" 
      src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf24054dsx/5757482cea762c9_complete.js" 
      crossorigin="anonymous"
      integrity="sha384-omzYu1Sl/+IPhuNnm18ww9A1jOlB19wfJ8zO/7oc/1Sd7dHgDG3cpSDIrkfsa5/c"></script>
  <!-- End Dynatrace manual injection snippet (noscript) -->
{% endif %}


{% endblock bodyStart %}
{% block beforeContent %}
  {% set phaseBarHtml = content[i18n.language].phaseBanner.new
    + '<a class="govuk-link" href="' + content[i18n.language].general.exitLink + pageHeader + '" target="_blank">'
    + content[i18n.language].phaseBanner.report + "</a> "
    + content[i18n.language].phaseBanner.improve %}
  {% if welshEnabled %}
    {% set queryStringConcat = "" %}
    {% if "lng=" in currentUrl %}
      {% set currentUrl = currentUrl | replace("?lng=en", "") | replace("&lng=en", "") | replace("?lng=cy", "") | replace("&lng=cy", "") %}
    {% endif %}
    {% if "?" not in currentUrl %}
      {% set queryStringConcat = "?" %}
    {% else %}
      {% set queryStringConcat = "&" %}
    {% endif %}
    {% set languageFlag = "" %}
    {% if i18n.language == "en" %}
      {% set languageFlag = queryStringConcat + "lng=cy" %}
    {% else %}
      {% set languageFlag = queryStringConcat + "lng=en" %}
    {% endif %}
    {% set phaseBarHtml = phaseBarHtml + (content[i18n.language].phaseBanner.languageToggle | replace("{currentUrl}", currentUrl) | replace("{languageFlag}", languageFlag)) %}
  {% endif %}
  {{ govukPhaseBanner({ tag: { text: "beta" }, html: phaseBarHtml }) }}
  {% include "includes/account-navigation.njk" %}
{% endblock beforeContent %}
{% block content %}
  {% block corContent %}
  {% endblock corContent %}
  {% if signedIn %}
    {% include "file-selected-modal.njk" %}
    {% include "session-inactivity-modal.njk" %}
  {% endif %}
  {% if allowContactUs %}{{ contactUs() }}{% endif %}
{% endblock content %}
{% block footer %}
  {{ govukFooter({ meta: { items: [ { href: "/cookie-policy", text: "Cookies" } ] } }) }}
{% endblock footer %}
{% block bodyEnd %}
  {% if isDev %}<script src="/reload/reload.js"></script>{% endif %}
  {% if cookieBannerEnabled %}
    <script src="public/js/cookie-manager-1.0.0.min.js"></script>
    <script src="public/js/cookies.js"></script>
  {% endif %}
  <script src="/public/js/main.js"></script>
  {% if webChatEnabled and content.en.language == "en" %}
    <script src="/public/js/hmcts-webchat.js"></script>
    <script>
      /*
       * webchat_init() has been developed by CTSC and is defined in hmcts-webchat.js
       * uuid, tenant, channel and other parameters can be passed into it as below to configure
       * and customise the web-chat experience,
       * busHandlerURL: is another jQuery javascript that further customises the web-chat journey
       *
       * NOTE: URLs must be https and not behind a VPN for 8x8 to work with web-chat
       */
      webchat_init({
        uuid: '{{ webChat.uuid }}',
        tenant: '{{ webChat.tenant }}',
        channel: '{{ webChat.channel }}',
        buttonContainerId: 'ctsc-web-chat',
        textChatDown: '{{ content[i18n.language].contactUs.webchat.textChatDown | safe }}',
        textChatWithAnAgent: '{{ content[i18n.language].contactUs.webchat.textChatWithAnAgent | safe }}',
        textNoAgentsAvailable: '{{ content[i18n.language].contactUs.webchat.textNoAgentsAvailable | safe }}',
        textAllAgentsBusy: '{{ content[i18n.language].contactUs.webchat.textAllAgentsBusy | safe }}',
        textChatClosed: '{{ content[i18n.language].contactUs.webchat.textChatClosed | safe }}',
        textChatAlreadyOpen: '{{ content[i18n.language].contactUs.webchat.textChatAlreadyOpen | safe }}',
        textAdditional: '{{ content[i18n.language].contactUs.webchat.textAdditional | safe }}',
        stylesheetURL: '{{ baseUrl }}/public/css/hmcts-webchat.css',
        busHandlerURL: '{{ baseUrl }}/public/js/hmcts-webchat-busHandler.js',
        btnNoAgents: '/{{ webChat.tenant }}/button_7732814745cac6f4603c4d1.53357933/img/logo',
        btnAgentsBusy: '/{{ webChat.tenant }}/button_2042157415cc19c95669039.65793052/img/logo',
        btnServiceClosed: '/{{ webChat.tenant }}/button_20199488815cc1a89e0861d5.73103009/img/logo',
      });
    </script>
  {% endif %}
{% endblock bodyEnd %}
