{% extends "template.njk" %} {% from "components/phase-banner/macro.njk" import
govukPhaseBanner %} {% from "components/mya-contact-us.njk" import contactUs
with context %} {% set assetPath = "/public/govuk-frontend" %} {% block
pageTitle %} {{ contact.pageTitle | safe }} {% endblock %} {% block head %} {%
include "includes/head.njk" %} {% endblock %} {% block header %} {% include
"includes/cookie-banner.njk" %} {% include "includes/header.njk" %} {%
endblock %} {% block content %} {% endblock %} {% block body_end %}
<script src="/public/js/main.js"></script>
{% endblock %}
