{% extends "layout.html" %}
{% from "input/macro.njk" import govukInput %}


{% block content %}
<form action="/idam-stub/login" method="post">
    {{ govukInput({
    "label": {
    "text": "Username"
    },
    "id": "username",
    "name": "username",
    "classes": "govuk-input--width-20",
    "attributes": {
        "autocomplete": "off"
    }
    }) }}
    {{ govukInput({
    "label": {
    "text": "Password"
    },
    "id": "password",
    "name": "password",
    "classes": "govuk-input--width-20",
    "attributes": {
        "autocomplete": "off"
    }
    }) }}
    <input type="hidden" name="redirect_uri" value="{{ redirectUri }}"/>
    <input type="submit" name="save" value="login" class="govuk-button"/>
</form>
{% endblock %}