{% extends "layout.njk" %} {% from "components/input/macro.njk" import
govukInput %} {% set pageHeader = "Login" %} {% block content %}
<form action="/idam-stub/login" method="post">
  {{ govukInput({ label: { text: "Username" }, id: "username", name: "username",
  classes: "govuk-input--width-20", attributes: { autocomplete: "off" } }) }} {{
  govukInput({ label: { text: "Password" }, id: "password", name: "password",
  classes: "govuk-input--width-20", attributes: { autocomplete: "off" } }) }}
  <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
  <input type="hidden" name="state" value="{{ state }}" />

  {% include "includes/csrf-hidden-input.njk" %}

  <input type="submit" name="save" value="Login" class="govuk-button" />
</form>
{% endblock %}
