{% extends "layout.html" %}
{% block pageTitle %}
    {{ i18n.postEvidence.header }} - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  <a href="/task-list" class="govuk-back-link">{{ i18n.general.back }}</a>
{% endblock %}
{% set pageHeader = i18n.postEvidence.header %}
{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.postEvidence.header }}</h1>
            <p>{{ i18n.postEvidence.info }}</p>

            <address class="--margin-bottom-m" aria-label="{{ i18n.postEvidence.screenReaderPostalAddress }}">
                <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ i18n.postEvidence.postalAddress | safe }}</span>
            </address>
            <p>{{ i18n.postEvidence.para1 | eval | safe }}</p>
            <p>{{ i18n.postEvidence.para2 | eval | safe }}</p>
            <p>{{ i18n.postEvidence.para3 | eval | safe }}</p>
        </div>
    </div>
{% endblock %}
