{% extends "layout.njk" %}
{% block pageTitle %}
  {{ content[i18n.language].postEvidence.header | safe }} - {{ content[i18n.language].general['ibca-serviceTitle'] }} - {{ content[i18n.language].general.govUK }}
{% endblock pageTitle %}
{% block beforeContent %}
  {{ super() }}
  <a href="/task-list" class="govuk-back-link">{{ content[i18n.language].general.back | safe }}</a>
{% endblock beforeContent %}
{% set pageHeader = content[i18n.language].postEvidence.header | safe %}
{% block corContent %}
  {% include "includes/post-evidence.njk" %}
{% endblock corContent %}
