{% extends "layout.html" %}

{% set pageHeader = content[i18n.language].questionsCompleted.header | safe %}

{% block beforeContent %}
    {{ super() }}
    <a href="/task-list" class="govuk-back-link">{{ content[i18n.language].general.backToQuestions | safe }}</a>
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content[i18n.language].questionsCompleted.header | safe }}</h1>
            <p>{{ content[i18n.language].questionsCompleted.para1 | safe }}</p>
            <p>{{ content[i18n.language].questionsCompleted.para2Start | safe }} <span id="next-contact-date">{{ nextCorrespondenceDate | date }}</span> {{ content[i18n.language].questionsCompleted.para2End | safe }}</p>
            <p><a class="govuk-link" href="/sign-out">{{ content[i18n.language].questionsCompleted.exitService | safe }}</a></p>
        </div>
    </div>
{% endblock %}
