{% extends "layout.html" %}
{% set pageHeader = i18n.questionsCompleted.header  %}
{% block beforeContent %}
    {{ super() }}
    <a href="/task-list" class="govuk-back-link">{{ i18n.general.backToQuestions }}</a>
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.questionsCompleted.header }}</h1>
            <p>{{ i18n.questionsCompleted.para1}}</p>
            <p>{{ i18n.questionsCompleted.para2Start}} <span id="next-contact-date">{{ nextCorrespondenceDate | date }}</span> {{ i18n.questionsCompleted.para2End}}</p>
            <p>
                <a class="govuk-link" href="/sign-out">{{ i18n.questionsCompleted.exitService }}</a>
            </p>
        </div>
    </div>
{% endblock %}
