{% extends "layout.html" %}
{% from "components/navigation-tabs.html" import navigationTabs with context %}
{% from "components/status-bar.html" import statusBar with context %}
{% from "components/panel.html" import panel with context %}

{% set pageHeader = content.en.taskList.header1 + ' ' + content.en.benefitTypes[appeal.benefitType].acronym  + ' ' + content.en.taskList.header2 %}

{% block pageTitle %}
    {{ content.en.taskList.header1 }} {{ content.en.benefitTypes[appeal.benefitType].acronym }} {{ content.en.taskList.header2 }} - {{ content.en.statusTab.tabHeader }} - {{ content.en.general.govUK }}
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ content.en.taskList.header1 }} {{ content.en.benefitTypes[appeal.benefitType].acronym }} {{ content.en.taskList.header2 }}</h1>
            {% include "includes/appellant-details.html" %}
            <p class="govuk-body-s">{{ content.en.general.sessionExpiryWarning }}</p>
        </div>

    {% include "includes/divider.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ navigationTabs('status') }}
            <div class="task-list">
                <h2 class="govuk-heading-m --margin-bottom-s">{{ content.en.statusTab.header }}</h2>
                {% if stages | length %}
                    {{ statusBar(stages) }}
                {% endif %}
                {% if appeal.hearingType == 'cor' %}
                    {% set latestUpdate = "TBC" %}
                {% else %}
                    {% set latestUpdate = content.en.appealEvents[appeal.status]['content'][appeal.hearingType] %}
                {% endif %}
                {{ panel(content.en.statusTab.panelHeader, latestUpdate | evalStatus) }}
            </div>
        </div>
    </div>
{% endblock %}
