{% extends "layout.html" %}
{% from "components/navigation-tabs.html" import navigationTabs with context%}
{% from "components/status-bar.html" import statusBar with context%}
{% from "components/panel.html" import panel %}
{% set pageHeader = i18n.taskList.header %}
{% block corContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>
        {% include "includes/appellant-details.html" %}
    </div>
</div>

{% include "includes/divider.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="task-list">
            {{ navigationTabs('status') }}
            <h2 class="govuk-heading-m --margin-bottom-s">Status of your appeal</h2>
            {{ statusBar(stages) }}

            {{ panel('Latest update', 'bla blab lblablab') }}
        </div>
    </div>
</div>
{% endblock %}
