{% extends "layout.njk" %} {% from "components/navigation-tabs.njk" import
navigationTabs with context %} {% from "components/status-bar.njk" import
statusBar with context %} {% from "components/panel.njk" import panel with
context %} {% set pageHeader =
content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal %} {%
block pageTitle %} {{
content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal }} -
{{ content[i18n.language].statusTab.tabHeader }} - {{
content[i18n.language].general.govUK }} {% endblock %} {% block corContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal }}
    </h1>
    {% include "includes/appellant-details.njk" %}
    <p class="govuk-body-s">
      {{ content[i18n.language].general.sessionExpiryWarning | safe }}
    </p>
  </div>

  {% include "includes/divider.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ navigationTabs("status") }}
      <div class="task-list">
        <h2 class="govuk-heading-m --margin-bottom-s">
          {{ content[i18n.language].statusTab.header | safe }}
        </h2>
        {% if stages | length %} {{ statusBar(appeal, stages) }} {% endif %}
        {% if appeal.hearingType == "cor" %}
          {% set latestUpdate = [ "TBC" ] %}
        {% else %}
          {% set latestUpdate = content[i18n.language].appealEvents[appeal.status]["content"][appeal.hearingType] %}
        {% endif %}
        {{ panel(content[i18n.language].statusTab.panelHeader, latestUpdate | evalStatus) }}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
