{% extends "layout.html" %}
{% from "components/navigation-tabs.html" import navigationTabs with context%}
{% set pageHeader = i18n.taskList.header %}
{% block corContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>
        {% include "includes/appellant-details.html" %}
    </div>
</div>

{% include "includes/divider.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="task-list">
            {% if featureFlags.manageYourAppeal %}
                {{ navigationTabs('status') }}
            {% endif %}
            <h2 class="govuk-heading-s --margin-bottom-s">Questions from the tribunal</h2>
            <p>here the content for status page</p>
        </div>
    </div>
</div>
{% endblock %}
