{% extends "layout.html" %}
{% from "components/navigation-tabs.html" import navigationTabs with context %}
{% from "components/status-bar.html" import statusBar with context %}
{% from "components/panel.html" import panel with context %}
{% set pageHeader = i18n.taskList.header %}
{% block corContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>
        {% include "includes/appellant-details.html" %}
        <p class="govuk-body-s">{{ i18n.general.sessionExpiryWarning }}</p>
    </div>
</div>

{% include "includes/divider.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ navigationTabs('status') }}
        <div class="task-list">
            <h2 class="govuk-heading-m --margin-bottom-s">{{ i18n.statusTab.header }}</h2>
            {% if stages | length %}
                {{ statusBar(stages) }}
            {% endif %}
            {% if appeal.hearingType == 'cor' %}
                {% set latestUpdate = "TBC" %}
            {% else %}
                {% set latestUpdate = i18n.appealEvents[appeal.status]['content'][appeal.hearingType] %}
            {% endif %}
            {{ panel(i18n.statusTab.panelHeader, latestUpdate | evalStatus) }}
        </div>
    </div>
</div>
{% endblock %}
