{% extends "layout.html" %}

{% set pageHeader = content[i18n.language].submitQuestion.title | safe %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content[i18n.language].submitQuestion.title | safe }}</h1>
            <form action="/question/{{ questionOrdinal }}/submit" method="post">
                {% include "includes/csrf-hidden-input.html" %}

                <div id="submit-buttons">
                    <input id="submit-answer" type="submit" name="submit" value="Confirm" class="govuk-button button-padding">
                    <a class="govuk-button secondary-button" href="/question/{{ questionOrdinal }}">{{ content[i18n.language].submitQuestion.backToQuestionText | safe }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
