{% extends "layout.html" %}

{% from "components/navigation-tabs.html" import navigationTabs with context %}

{% set pageHeader = content[i18n.language].taskList.header | safe %}

{% block pageTitle %}
    {{ content[i18n.language].taskList.header | safe }} - {{ content[i18n.language].provideEvidenceTab.tabHeader | safe }} - {{ content[i18n.language].general.govUK | safe }}
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ content[i18n.language].taskList.header | safe }}</h1>
            {% include "includes/appellant-details.html" %}
        </div>
    </div>

    {% include "includes/divider.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="task-list">
                <h2 class="govuk-heading-m --margin-bottom-m">{{ content[i18n.language].provideEvidenceTab.header | safe }}</h2>
            </div>
            {% if featureFlags.additionalEvidence %}
                <h2 class="govuk-heading-s --margin-bottom-s">{{ content[i18n.language].provideEvidenceTab.additionalEvidence.header | safe }}</h2>
                <p>{{ content[i18n.language].provideEvidenceTab.additionalEvidence.content | safe }}</p>
            {% else %}
                <h2 class="govuk-heading-s">{{ content[i18n.language].taskList.sendingEvidence.header | safe }}</h2>
                <p>
                    {{ content[i18n.language].taskList.sendingEvidence.intro | safe }}
                    <a id="evidence-options-link" href="/post-evidence">{{ content[i18n.language].taskList.sendingEvidence.anchorText | safe }}</a>.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
