{% extends "layout.njk" %} {% from "components/navigation-tabs.njk" import
navigationTabs with context %} {% set pageHeader =
content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal %} {%
block pageTitle %} {{ content[i18n.language].taskList.header | safe }} - {{
content[i18n.language].provideEvidenceTab.tabHeader | safe }} - {{
content[i18n.language].general.govUK | safe }} {% endblock %} {% block
corContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{
      content[i18n.language].benefitTypes[appeal.benefitType].yourBenefitAppeal
      }}
    </h1>
    {% include "includes/appellant-details.njk" %}
  </div>
</div>

{% include "includes/divider.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ navigationTabs("questions") }}
    <div class="task-list">
      <h2 class="govuk-heading-m --margin-bottom-m">
        {{ content[i18n.language].provideEvidenceTab.header | safe }}
      </h2>
    </div>
    <h2 class="govuk-heading-s --margin-bottom-s">
      {{ content[i18n.language].provideEvidenceTab.additionalEvidence.header |
      safe }}
    </h2>
    <p>
      {{ content[i18n.language].provideEvidenceTab.additionalEvidence.content |
      safe }}
    </p>
  </div>
</div>
{% endblock %}
