{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>
        {% include "includes/appellant-details.html" %}
    </div>
</div>

{% include "includes/divider.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div id="task-list">
            <h2 class="govuk-heading-s">Questions from the tribunal</h2>
            <p>
                <span id="deadline-status">{{ i18n.taskList.deadline[deadlineExpiryDate.status] }}</span>
                {% if deadlineExpiryDate.expiryDate %}
                    <span id="deadline-date">{{ deadlineExpiryDate.expiryDate | date }}</span>.
                {% endif %}
                {% if deadlineExpiryDate.extendable %}
                    <a id="extend-deadline" class="govuk-link" href="/extend-deadline">Extend the deadline</a>
                {% endif %}
            </p>
            <ul class="govuk-list">
                {% for question in questions %}
                    {% set answerState = question.answer_state %}
                    <li id="question-{{ question.question_id }}">
                        <a class="govuk-link question-header-text" href="/question/{{ loop.index }}">{{ question.question_header_text }}</a>
                        {% if answerState != 'unanswered' %}
                            <span class="answer-state {{ question.answer_state }}">
                                {{
                                    i18n.taskList.answerState.completed
                                    if answerState === 'submitted'
                                    else i18n.taskList.answerState.draft
                                }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <h2 class="govuk-heading-s">{{ i18n.taskList.sendingEvidence.header }}</h2>
        <p>{{ i18n.taskList.sendingEvidence.intro }}</p>

        <details id="sending-evidence-guide" class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ i18n.taskList.sendingEvidence.summary }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>{{ i18n.taskList.sendingEvidence.details.para1 }} <strong id="evidence-case-reference">{{ hearing.case_reference }}</strong></p>

                {% include "includes/sending-evidence-contact-details.html" %}

                <p>{{ i18n.taskList.sendingEvidence.details.closingPara1 }}</p>
                <p>{{ i18n.taskList.sendingEvidence.details.closingPara2 }}</p>
            </div>
        </details>

    </div>
</div>
{% endblock %}
