{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout.html" %}
{% set pageHeader = content.en.tribunalViewConfirm.header %}
{% block corContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: content.en.errorSummary.titleText,
          descriptionText: content.en.errorSummary.descriptionText,
          errorList: [{
            text: error,
            href: "#accept-view-1"
          }]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ content.en.tribunalViewConfirm.header }}</h1>
      <p>{{ content.en.tribunalViewConfirm.headerText | eval | date }}</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/tribunal-view-confirm" method="post">
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "accept-view",
            name: "accept-view",
            items: [
              {
                value: "yes",
                text: content.en.tribunalViewConfirm.acceptYes
              },
              {
                value: "no",
                text: content.en.tribunalViewConfirm.acceptNo
              }
            ],
            errorMessage: {
              text: error
            } if error
          })
        }}
        <p>{{ content.en.tribunalViewConfirm.acceptHelp | eval | date }}</p>
        {% include "includes/csrf-hidden-input.html" %}
        <div id="submit-button">
          {{
            govukButton({
            text: content.en.general.continue
            })
          }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
