{% extends "layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% set pageHeader = i18n.tribunalViewAccepted.header %}
{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.tribunalViewAccepted.header }}</h1>
            <p>{{ i18n.tribunalViewAccepted.para1 }}</p>
            <p>{{ i18n.tribunalViewAccepted.para2 }}</p>
            <p>{{ i18n.tribunalViewAccepted.para3 }}</p>
            <p>{{ i18n.tribunalViewAccepted.para4 | eval | date }}</p>
            <p>
                {{
                    govukButton({
                    text: i18n.general.continue,
                    href: '/sign-out/?redirectUrl=' + i18n.tribunalViewAccepted.exitLink + pageHeader
                    })
                }}
            </p>
        </div>
    </div>
{% endblock %}