{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeader = content[i18n.language].tribunalView.header | safe %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if error %}
                {{ govukErrorSummary({
                    titleText: content[i18n.language].errorSummary.titleText,
                    descriptionText: content[i18n.language].errorSummary.descriptionText,
                    errorList: [{
                        text: error,
                        href: "#accept-view-1"
                    }]
                }) }}
            {% endif %}

            <h1 class="govuk-heading-l">{{ content[i18n.language].tribunalView.header | safe }}</h1>
            {% include "includes/appellant-details.html" %}
        </div>
    </div>

    {% include "includes/divider.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="decision">
                <div id="decision-outcome" class="panel-blue">
                    <p>
                        {% if endDate %}
                            {{ content[i18n.language].tribunalView.decision.viewEntitledTo | eval | date }}
                        {% else %}
                            {{ content[i18n.language].tribunalView.decision.viewEntitledToIndefinite | eval | date }}
                        {% endif %}
                    </p>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell">
                                    {{ content[i18n.language].tribunalView.decision.dailyLiving | safe }}
                                </th>
                                <td class="govuk-table__cell">
                                    {{ content[i18n.language].tribunalView.decision.rate[decision.decision_rates.daily_living] | safe }}
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell">
                                    {{ content[i18n.language].tribunalView.decision.mobility | safe }}
                                </th>
                                <td class="govuk-table__cell">
                                    {{ content[i18n.language].tribunalView.decision.rate[decision.decision_rates.mobility] | safe }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>{{ content[i18n.language].tribunalView.decision.dwp[decision.decision_rates.compared_to_dwp] | safe }}</p>
                </div>
                <p class="govuk-inset-text">{{ content[i18n.language].tribunalView.decision.confirmAccept | safe }}</p>
                <div id="decision-reason">
                    <h2 class="govuk-heading-m">{{ content[i18n.language].tribunalView.reasonsHeader | safe }}</h2>
                    <p id="decision-text">{{ decision.reason | safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="decision-activities">
            <div>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          {{ content[i18n.language].tribunalView.activitiesSummary | safe }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <h2 class="govuk-heading-m">{{ content[i18n.language].tribunalView.dailyLivingActivitiesHeader | safe }}</h2>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header col-1" >{{ content[i18n.language].tribunalView.activitiesTable.headerActivity | safe }}</th>
                                  <th class="govuk-table__header col-2" >{{ content[i18n.language].tribunalView.activitiesTable.headerDescriptor | safe }}</th>
                                  <th class="govuk-table__header col-3" >{{ content[i18n.language].tribunalView.activitiesTable.headerPoints | safe }}</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% if decision.activities.daily_living %}
                                    {% for activity in decision.activities.daily_living %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.dailyLiving[activity.activity].name | safe }}</td>
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.dailyLiving[activity.activity].scores[activity.selection_key].text | safe }}</td>
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.dailyLiving[activity.activity].scores[activity.selection_key].score | safe }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell align--top" colspan="3">
                                            {{ content[i18n.language].tribunalView.dailyLivingActivitiesHeaderEmpty | safe }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <br>
                        <h2 class="govuk-heading-m">{{ content[i18n.language].tribunalView.mobilityActivitiesHeader | safe }}</h2>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header col-1" >{{ content[i18n.language].tribunalView.activitiesTable.headerActivity | safe }}</th>
                                    <th class="govuk-table__header col-2" >{{ content[i18n.language].tribunalView.activitiesTable.headerDescriptor | safe }}</th>
                                    <th class="govuk-table__header col-3" >{{ content[i18n.language].tribunalView.activitiesTable.headerPoints | safe }}</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                {% if decision.activities.mobility %}
                                    {% for activity in decision.activities.mobility %}
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.mobility[activity.activity].name | safe }}</td>
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.mobility[activity.activity].scores[activity.selection_key].text | safe }}</td>
                                            <td class="govuk-table__cell align--top">{{ content[i18n.language].tribunalView.activities.mobility[activity.activity].scores[activity.selection_key].score | safe }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell align--top" colspan="3">
                                            {{ content[i18n.language].tribunalView.mobilityActivitiesHeaderEmpty | safe }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <h2 class="govuk-heading-m">{{ content[i18n.language].tribunalView.acceptHeader | safe }}</h2>
                <p>{{ content[i18n.language].tribunalView.whatNextPara | safe }}</p>

                <form action="/tribunal-view" method="post">
                    {{ govukRadios({
                        classes: "govuk-radios",
                        idPrefix: "accept-view",
                        name: "accept-view",
                        items: [
                            {
                                value: "yes",
                                text: content[i18n.language].tribunalView.acceptYes
                            },
                            {
                                value: "no",
                                text: content[i18n.language].tribunalView.acceptNo
                            }
                        ],
                        errorMessage: {
                          text: error
                        } if error
                    }) }}
                    <p>{{ content[i18n.language].tribunalView.acceptRespondBy | eval | date }}</p>

                    {% include "includes/csrf-hidden-input.html" %}

                    <div id="submit-button">
                      {{ govukButton({
                          text: content[i18n.language].tribunalView.submitResponse
                      }) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
