{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeader = content[i18n.language].tribunalViewConfirm.header | safe %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if error %}
                {{ govukErrorSummary({
                    titleText: content[i18n.language].errorSummary.titleText,
                    descriptionText: content[i18n.language].errorSummary.descriptionText,
                    errorList: [{
                        text: error,
                        href: "#accept-view-1"
                    }]
                }) }}
            {% endif %}

            <h1 class="govuk-heading-l">{{ content[i18n.language].tribunalViewConfirm.header | safe }}</h1>
            <p>{{ content[i18n.language].tribunalViewConfirm.headerText | eval | date }}</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/tribunal-view-confirm" method="post">
                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "accept-view",
                    name: "accept-view",
                    items: [
                      {
                        value: "yes",
                        text: content[i18n.language].tribunalViewConfirm.acceptYes
                      },
                      {
                        value: "no",
                        text: content[i18n.language].tribunalViewConfirm.acceptNo
                      }
                    ],
                    errorMessage: {
                      text: error
                    } if error
                }) }}
                <p>{{ content[i18n.language].tribunalViewConfirm.acceptHelp | eval | date }}</p>

                {% include "includes/csrf-hidden-input.html" %}

                <div id="submit-button">
                    {{ govukButton({
                        text: content[i18n.language].general.continue
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
