{% extends "layout.html" %}

{% from "button/macro.njk" import govukButton %}

{% set pageHeader = content[i18n.language].tribunalViewAccepted.header | safe %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content[i18n.language].tribunalViewAccepted.header | safe }}</h1>
            <p>{{ content[i18n.language].tribunalViewAccepted.para1 | safe }}</p>
            <p>{{ content[i18n.language].tribunalViewAccepted.para2 | safe }}</p>
            <p>{{ content[i18n.language].tribunalViewAccepted.para3 | safe }}</p>
            <p>{{ content[i18n.language].tribunalViewAccepted.para4 | eval | date }}</p>
            <p>
                {{ govukButton({
                    text: content[i18n.language].general.continue,
                    href: "/sign-out/?redirectUrl=" + content[i18n.language].tribunalViewAccepted.exitLink + pageHeader
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
