{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.tribunalView.header }}</h1>
            {% include "includes/appellant-details.html" %}
        </div>
    </div>

    {% include "includes/divider.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="decision">
                <div id="decision-reason">
                    <h2 class="govuk-heading-m">{{ i18n.tribunalView.reasonsHeader }}</h2>
                    <p id="decision-text">{{ decision.decision_text }}</p>
                </div>
            </div>

            {% include "includes/contact.html" %}
        </div>
    </div>

{% endblock %}
