{% from "inset-text/macro.njk" import govukInsetText %}
{% from "back-link/macro.njk" import govukBackLink %}
{% extends "layout.html" %}
{% set pageHeader = i18n.taskList.header %}

{% block beforeContent %}
    {{super()}}
{% endblock%}

{% block pageTitle %}
    {{ i18n.yourDetails.header }} - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}

{% block corContent %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ i18n.yourDetails.header }}</h1>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header --vertical-align-top" scope="row">{{i18n.yourDetails.nameLabel}}</th>
                    <td class="govuk-table__cell">{{ details.appellant_name }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header --vertical-align-top --width-50" scope="row">{{i18n.yourDetails.addressLabel}}</th>
                    <td class="govuk-table__cell">
                        <address aria-label='{{ i18n.guidance.sendingEvidence.screenReaderPostalAddress }}'>
                            {{ details.appellant_details.address_details.line1 }}<br/>
                            {% if details.appellant_details.address_details.line1 %}
                                {{ details.appellant_details.address_details.line2 }}<br/>
                            {% endif %}
                            {{ details.appellant_details.address_details.town }}<br/>
                            {{ details.appellant_details.address_details.county }}<br/>
                            {{ details.appellant_details.address_details.postcode }}<br/>
                        </address>
                    </td>
                </tr>
                {% for type, value in subscriptions %}
                    {% set hideBottomBorder %}
                        {% if not loop.last %}hide-bottom-border{% endif %}
                    {% endset %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header --vertical-align-top {{ hideBottomBorder }}" scope="row">
                            {{ type }} {{i18n.yourDetails.emailLabel}}
                        </th>
                        <td class="govuk-table__cell {{ hideBottomBorder }}">
                            {{ value.email if value.email else i18n.yourDetails.notProvided }}
                        </td>
                    </tr>
                {% endfor %}
                {% for type, value in subscriptions %}
                    {% set hideBottomBorder %}
                        {% if not loop.last %}hide-bottom-border{% endif %}
                    {% endset %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header --vertical-align-top {{ hideBottomBorder }}" scope="row">
                            {{ type }} {{i18n.yourDetails.mobileLabel}}
                        </th>
                        <td class="govuk-table__cell {{ hideBottomBorder }}">
                            {{ value.mobile if value.mobile else i18n.yourDetails.notProvided }}
                        </td>
                    </tr>
                {% endfor %}
                {% if contact.phone %}
                  <tr class="govuk-table__row">
                      <th class="govuk-table__header --vertical-align-top {{ hideBottomBorder }}" scope="row">
                          {{ type }} {{i18n.contact.phone}}
                      </th>
                      <td class="govuk-table__cell {{ hideBottomBorder }}">
                          {{ contact.phone if contact.phone else i18n.yourDetails.notProvided}} 
                      </td>
                  </tr>
                {% endif %}
                {% if contact.mobile %}
                  <tr class="govuk-table__row">
                      <th class="govuk-table__header --vertical-align-top {{ hideBottomBorder }}" scope="row">
                          {{ type }} {{i18n.contact.mobile}}
                      </th>
                      <td class="govuk-table__cell {{ hideBottomBorder }}">
                          {{ contact.mobile if contact.mobile else i18n.yourDetails.notProvided }}
                      </td>
                  </tr>
                {% endif %}
                {% if contact.email %}
                  <tr class="govuk-table__row">
                      <th class="govuk-table__header --vertical-align-top {{ hideBottomBorder }}" scope="row">
                          {{ type }} {{i18n.contact.email}}
                      </th>
                      <td class="govuk-table__cell {{ hideBottomBorder }}">
                          {{ contact.email if contact.email else i18n.yourDetails.notProvided }}
                      </td>
                  </tr>
                {% endif %}
            </tbody>
        </table>
        {{ govukInsetText({
            html: i18n.yourDetails.contact | eval | safe,
            classes: 'govuk-!-margin-top-7 govuk-!-margin-bottom-7'
        }) }}
    </div>
</div>

{% endblock %}
