apiVersion: v2
name: sscs-cor-frontend
home: https://github.com/hmcts/sscs-cor-frontend
version: 0.1.40
description: SSCS COR FRONTEND
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: redis
    version: 17.3.17
    repository: 'https://charts.bitnami.com/bitnami'
    condition: redis.enabled
