nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    REDIS_URL: redis://${SERVICE_NAME}-redis-master
    SESSION_SECRET:
    NODE_ENV: preview
    MYA_FEATURE_FLAG: "true"
    ADDITIONAL_EVIDENCE_FEATURE: "true"
    EVIDENCE_UPLOAD_QUESTION_PAGE_OVERRIDE_ALLOWED: "true"
  keyVaults:
    sscs:
      secrets:
        - sscs-cor-idam-client-secret
        - sscs-s2s-secret
redis:
  enabled: true
idam-pr:
  enabled: true
  redirect_uris:
    SSCS COR:
      - https://${SERVICE_FQDN}/sign-in # this is the application callback URL where IDAM will send back the authentication code. SERVICE_FQDN is injected by Jenkins.