nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    MYA_FEATURE_FLAG: 'true'
    INFECTED_BLOOD_COMPENSATION_ENABLED: 'false'
    EVIDENCE_UPLOAD_QUESTION_PAGE_ENABLED: 'false'
    EVIDENCE_UPLOAD_QUESTION_PAGE_OVERRIDE_ALLOWED: 'true'
  keyVaults:
    sscs:
      secrets:
        - sscs-cor-idam-client-secret
        - idam-sscs-oauth2-client-secret
        - sscs-s2s-secret
redis:
  enabled: true
idam-pr:
  enabled: true
