nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    NODE_ENV: preprod
    MYA_FEATURE_FLAG: "true"
    ADDITIONAL_EVIDENCE_FEATURE_FLAG : "true"
    EVIDENCE_UPLOAD_QUESTION_PAGE_OVERRIDE_ALLOWED: "true"
