nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  autoscaling:
    enabled: false
  environment:
    REDIS_HOST: ${SERVICE_NAME}-redis-master
    REDIS_PORT: 6379
    NODE_ENV: preview
    MYA_FEATURE_FLAG: 'true'
  keyVaults:
    sscs:
      secrets:
        - sscs-cor-idam-client-secret
        - idam-sscs-oauth2-client-secret
        - sscs-s2s-secret
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  image:
    debug: true
idam-pr:
  enabled: true
  redirect_uris:
    SSCS:
      - https://${SERVICE_FQDN}/sign-in
    SSCS COR:
      - https://${SERVICE_FQDN}/sign-in # this is the application callback URL where IDAM will send back the authentication code. SERVICE_FQDN is injected by Jenkins.
