{% extends "layout.njk" %} {% set pageHeader =
content[i18n.language].error.error404.header | safe %} {% block corContent %}
<h1 class="govuk-heading-l">
  {{ content[i18n.language].error.error404.header | safe }}
</h1>
{% endblock %}
