{% extends "layout.njk" %}
{% set pageHeader = header | safe %}
{% block corContent %}
  <h1 class="govuk-heading-l">{{ header | safe }}</h1>
  <p><a id="buttonBack" href="#">{{ message | safe }}</a></p>
  <p>{{ contact | safe }}</p>
{% endblock corContent %}
