{% if fields.error %}
<div
  class="error-summary"
  role="group"
  aria-labelledby="error-summary-heading"
  tabindex="-1"
>
  <ul class="error-summary-list">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
      {{ content[i18n.language].common.errorHeading | safe }}
    </h1>
    {% if fields.noSelection.errorHeading %}
    <li><a href="#email">{{ fields.noSelection.errorHeading | safe }}</a></li>
    {% endif %} {% if fields.email.errorHeading %}
    <li><a href="#email">{{ fields.email.errorHeading | safe }}</a></li>
    {% endif %} {% if fields.confirmEmail.errorHeading %}
    <li>
      <a href="#confirmEmail">{{ fields.confirmEmail.errorHeading | safe }}</a>
    </li>
    {% endif %} {% if fields.surname.errorHeading %}
    <li><a href="#surname">{{ fields.surname.errorHeading | safe }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
