{% from "input/macro.njk" import govukInput %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.html" %}

{% block corContent %}
  <h1 class="govuk-heading-l">{{ content.en.assignCase.title }}</h1>

  {% if error %}
    {{ govukErrorSummary({
        titleText: content.en.errorSummary.titleText,
        descriptionText: content.en.errorSummary.descriptionText,
        errorList: [{
          text: error,
          href: "#Postcode"
        }]
      })
    }}
  {% endif %}

  <form id="answer-form" action="/assign-case" method="post">
    {% include "includes/csrf-hidden-input.html" %}
    {{ govukInput({
        label: {
          text: content.en.assignCase.message
        },
        id: "postcode",
        name: "postcode",
        "classes": "govuk-input--width-20"
      })
    }}

    <input id="assign-case" name="assign-case" type="submit" value="{{ content.en.general.continue }}" class="govuk-button">
  </form>
{% endblock %}
