{% extends "layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block corContent %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: content[i18n.language].errorSummary.titleText,
      descriptionText: content[i18n.language].errorSummary.descriptionText,
      errorList: [{ text: error.msg, href: "#appealType" }]
    }) }}
  {% endif %}
  <form id="answer-form" action="/assign-case" method="post">
    {% include "includes/csrf-hidden-input.njk" %}
    {% set ibcaReferenceHtml %}
      {{ govukInput({ label: {
        text: content[i18n.language].assignCase.appealTypeOptions.ibca.inputText },
        errorMessage: { text: error.msg } if error.code and error.code.includes('ibcaReference'),
        id: "ibcaReference",
        name: "ibcaReference",
        value: ibcaReference,
        classes: "govuk-input--width-20 govuk-input--extra-letter-spacing"
      }) }}
    {% endset -%}
    {% set postcodeHtml %}
      {{ govukInput({ label: {
        text: content[i18n.language].assignCase.appealTypeOptions.otherBenefits.inputText },
        hint: {
          text: content[i18n.language].assignCase.appealTypeOptions.otherBenefits.hintText
        },
        errorMessage: { text: error.msg } if error.code and error.code.includes('postcode'),
        id: "postcode",
        name: "postcode",
        value: postcode,
        classes: "govuk-input--width-20"
      }) }}
    {% endset -%}

    {{ govukRadios({
      name: "appealType",
      value: appealType,
      idPrefix: "appeal-type",
      fieldset: { legend: {
        text: content[i18n.language].assignCase.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      } },
      errorMessage: {
        text: error.msg
      } if error.code == 'missing-appealType',
      items: [
        {
          value: "ibca",
          id: "appeal-type-ibca",
          text: content[i18n.language].assignCase.appealTypeOptions.ibca.radioOption,
          conditional: { html: ibcaReferenceHtml }
        },
        {
          value: "otherBenefits",
          id: "appeal-type-otherBenefits",
          text: content[i18n.language].assignCase.appealTypeOptions.otherBenefits.radioOption,
          conditional: { html: postcodeHtml }
        }
      ]
    }) }}
    <input id="assign-case"
      name="assign-case"
      type="submit"
      value="{{ content[i18n.language].general.continue | safe }}"
      class="govuk-button"/>
  </form>
{% endblock corContent %}
