{% extends "layout.njk" %} {% from "input/macro.njk" import govukInput %} {%
from "components/error-summary/macro.njk" import govukErrorSummary %} {% block
corContent %}
<h1 class="govuk-heading-l">
  {{ content[i18n.language].assignCase.title | safe }}
</h1>

{% if error %} {{ govukErrorSummary({ titleText:
content[i18n.language].errorSummary.titleText, descriptionText:
content[i18n.language].errorSummary.descriptionText, errorList: [{ text: error,
href: "#Postcode" }] }) }} {% endif %}

<form id="answer-form" action="/assign-case" method="post">
  {% include "includes/csrf-hidden-input.njk" %} {{ govukInput({ label: { text:
  content[i18n.language].assignCase.message }, id: "postcode", name: "postcode",
  "classes": "govuk-input--width-20" }) }}

  <input
    id="assign-case"
    name="assign-case"
    type="submit"
    value="{{ content[i18n.language].general.continue | safe }}"
    class="govuk-button"
  />
</form>
{% endblock %}
