{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "components/spinner.html" import spinner %}
{% from "components/evidence-list.html" import evidenceList with context %}

<form id="answer-form" action="/question/{{ question.questionOrdinal }}?_csrf={{csrfToken}}" method="post">
    <div>
        {{ govukTextarea({
            id: 'question-field',
            classes: 'auto-expand',
            name: 'question-field',
            value: question.answer.value,
            attributes: {
                placeholder: content[i18n.language].question.textareaField.placeholder,
                "aria-label": content[i18n.language].question.textareaField.label,
                "autocomplete": "off"
            },
            rows: 6,
            errorMessage: {
                text: question.answer.error
            } if question.answer.error
          })
        }}
    </div>

    {% if showEvidenceUpload %}
        <div id="evidence-upload">
            {{ govukCheckboxes({
              "idPrefix": "provide-evidence",
              "name": "provide-evidence",
              "classes": "evidence-upload-js",
              "items": [{
                "value": "yes",
                "text": content[i18n.language].question.evidenceUpload.checkbox
              }]
            }) }}

            <div id="evidence-upload-reveal-container" class="govuk-details__text --margin-bottom-m">
                <h2 class="govuk-heading-m evidence-upload-nojs">{{ content[i18n.language].question.evidenceUpload.header | safe }}</h2>
                <p>{{ content[i18n.language].question.evidenceUpload.info | safe }}</p>

                <div id="uploadFileButton">
                  {{ govukFileUpload({
                    id: "file-upload-1",
                    name: "file-upload-1",
                    classes: "evidence-upload-js",
                    label: {
                      text: content[i18n.language].questionUploadEvidence.label,
                      classes: "evidence-upload-js"
                    },
                    attributes: {
                      accept: fileTypeWhiteList
                    },
                    "errorMessage": {
                      "text": fileUploadError
                    } if fileUploadError
                  }) }}
                </div>

                {{ spinner(content[i18n.language].question.evidenceUpload.fileUploading) }}
                {{ evidenceList(question.evidences) }}

                <input id="add-file" name="add-file" type="submit" value="{{ content[i18n.language].question.evidenceUpload.addFileButton | safe }}" class="govuk-button secondary-button evidence-upload-nojs">

                {% include "question/sending-evidence.html" %}
            </div>
        </div>
    {% else %}
        <details id="sending-evidence-guide" class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    {{ content[i18n.language].question.sendingEvidence.summary | safe }}
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>{{ content[i18n.language].question.sendingEvidence.details.para1 | safe }}</p>
                <p tabindex="0">{{ content[i18n.language].question.sendingEvidence.details.para2 | safe }}<br>
                    <strong id="evidence-case-reference" aria-label="{{ screenReaderUtils.spellNumbersOut(hearing.case_reference) }}">{{ hearing.case_reference | safe }}</strong>
                </p>

                {% include "includes/sending-evidence-contact-details.html" %}
            </div>
        </details>
    {% endif %}

    <div id="submit-buttons">
        <input id="submit-answer" type="submit" name="submit" value="Submit answer to the tribunal" class="govuk-button button-padding">
        <input id="save-answer" type="submit" name="save" value="Save for later" class="govuk-button secondary-button">
    </div>
</form>
