{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "components/spinner.html" import spinner %}
{% from "components/evidence-list.html" import evidenceList with context %}

<form id="answer-form" action="/question/{{ question.questionOrdinal }}?_csrf={{csrfToken}}" method="post">
  <div>
    {{ govukTextarea({
        id: 'question-field',
        classes: 'auto-expand',
        name: 'question-field',
        value: question.answer.value,
        attributes: {
            placeholder: i18n.question.textareaField.placeholder,
            "aria-label": i18n.question.textareaField.label,
            "autocomplete": "off"
        },
        rows: 6,
        errorMessage: {
            text: question.answer.error
        } if question.answer.error
      })
    }}
  </div>

  {% if showEvidenceUpload %}
    <div id="evidence-upload">

      {{ govukCheckboxes({
        "idPrefix": "provide-evidence",
        "name": "provide-evidence",
        "classes": "evidence-upload-js",
        "items": [{
          "value": "yes",
          "text": i18n.question.evidenceUpload.checkbox
        }]
      }) }}

      <div id="evidence-upload-reveal-container" class="govuk-details__text --margin-bottom-m">

        <h2 class="govuk-heading-m evidence-upload-nojs">{{ i18n.question.evidenceUpload.header }}</h2>
        <p>{{ i18n.question.evidenceUpload.info }}</p>

        <div id="uploadFileButton">
          {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            classes: "evidence-upload-js",
            label: {
              text: i18n.questionUploadEvidence.label,
              classes: "evidence-upload-js"
            },
            attributes: {
              accept: fileTypeWhiteList
            },
            "errorMessage": {
              "text": fileUploadError
            } if fileUploadError
          }) }}
        </div>

        {{ spinner(i18n.question.evidenceUpload.fileUploading) }}

        {{ evidenceList(question.evidences) }}

        <input id="add-file" name="add-file" type="submit" value="{{ i18n.question.evidenceUpload.addFileButton }}" class="govuk-button secondary-button evidence-upload-nojs">


        {% include "question/sending-evidence.html" %}

      </div>

    </div>

  {% else %}

    <details id="sending-evidence-guide" class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ i18n.question.sendingEvidence.summary }}
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>{{ i18n.question.sendingEvidence.details.para1 }}</p>
        <p tabindex="0">{{ i18n.question.sendingEvidence.details.para2 }}<br>
          <strong id="answer-case-reference" aria-label="{{ screenReaderUtils.spellNumbersOut(hearing.case_reference) }}">{{ hearing.case_reference }}</strong>
        </p>

        {% include "includes/sending-evidence-contact-details.html" %}
      </div>
    </details>

  {% endif %}
  <div id="submit-buttons">
    <input id="submit-answer" type="submit" name="submit" value="Submit answer to the tribunal" class="govuk-button button-padding">
    <input id="save-answer" type="submit" name="save" value="Save for later" class="govuk-button secondary-button">
  </div>
</form>
