<table class="govuk-table" id="files-uploaded">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" colspan="2">{{ content.en.question.evidenceUpload.fileList.uploadedFiles }}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for file in question.evidence %}
      <tr class="govuk-table__row evidence">
        <td class="govuk-table__cell">{{ file.filename }}</td>
        <td class="govuk-table__cell">
            <input type="submit" name="delete[{{ file.id }}]" value="{{ content.en.general.delete }}" class="govuk-link">
        </td>
      </tr>
    {% else %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.en.question.evidenceUpload.fileList.noFilesUploaded }}</td>
        <td class="govuk-table__cell">&nbsp;</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
