{% extends "layout.html" %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ super() }}
  <a href="/task-list" class="govuk-back-link">{{ i18n.backLink }}</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if question.answer.error %}
        {{ govukErrorSummary({
                    titleText: i18n.question.textareaField.error.summaryHeading,
                    errorList: [{
                        text: question.answer.error,
                        href: "#question-field"
                    }]
                }) }}
      {% endif %}

      <h1 class="govuk-heading-l question-header">{{ question.header }}</h1>

      <div>
        <p id="question-body">{{ question.body }}</p>
      </div>

      {% if question.answer_state !== 'submitted' %}

        {% include "question/answer-form.html" %}

      {% else %}

        {% include "question/answer-submitted.html" %}

      {% endif %}

    </div>
  </div>
{% endblock %}