<details id="sending-evidence-guide" class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ i18n.question.evidenceUpload.postEvidence.summary }}
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>{{ i18n.question.evidenceUpload.postEvidence.details.para1 }}</p>
    <p>{{ i18n.question.evidenceUpload.postEvidence.details.para2 }}<br>
      <strong id="evidence-case-reference">{{ hearing.case_reference }}</strong>
    </p>
    <address aria-label="{{ i18n.guidance.sendingEvidence.screenReaderPostalAddress }}">
        <span aria-hidden="true">{{ i18n.guidance.sendingEvidence.postalAddress | safe }}</span>
    </address>
    <p>{{ i18n.question.evidenceUpload.postEvidence.details.closingPara1 }}</p>
    <p>{{ i18n.question.evidenceUpload.postEvidence.details.closingPara2 }}</p>
  </div>
</details>