<details id="sending-evidence-guide" class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            {{ content[i18n.language].question.evidenceUpload.postEvidence.summary | safe }}
        </span>
    </summary>
    {% if postBulkScan %}
        <div class="govuk-details__text">
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.para1 | safe }}</p>
            <address class="--margin-bottom-m" aria-label="{{ content[i18n.language].postEvidence.screenReaderPostalAddress | safe }}">
                <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ content[i18n.language].postEvidence.postalAddress | safe }}</span>
            </address>
            <p>{{ content[i18n.language].postEvidence.para1 | eval | safe }}</p>
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.closingPara1 | safe }}</p>
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.closingPara2 | safe }}</p>
        </div>
    {% else %}
        <div class="govuk-details__text">
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.para1 | safe }}</p>
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.para2 | safe }}<br>
                <strong id="evidence-case-reference">{{ hearing.case_reference | safe }}</strong>
            </p>
            <address aria-label="{{ content[i18n.language].guidance.sendingEvidence.screenReaderPostalAddress | safe }}">
                <span aria-hidden="true">{{ content[i18n.language].guidance.sendingEvidence.postalAddress | safe }}</span>
            </address>
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.closingPara1 | safe }}</p>
            <p>{{ content[i18n.language].question.evidenceUpload.postEvidence.details.closingPara2 | safe }}</p>
        </div>
    {% endif %}
</details>
