{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% extends "layout.html" %}

{% set pageHeader = i18n.notifications.email.addressChange.tab %}

{% block content %}

<main id="content" class="confirm-email-address-change" role="main">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

          {% include "errors/summary.html" %}

          <h1 class="govuk-heading-l">{{ i18n.notifications.email.addressChange.title }}</h1>

          <form action="/manage-email-notifications/{{ mactoken }}/change" method="post">


                        {{ govukInput({
                        "label": {
                        "text": "Enter your new email address"
                        },
                        "id": "email",
                        "name": "email",
                        "classes": "govuk-input--width-20",
                        "attributes": {
                        "autocomplete": "off"
                        }
                        }) }}
                        {{ govukInput({
                        "label": {
                        "text": "Enter your new email address again"
                        },
                        "id": "confirmEmail",
                        "name": "confirmEmail",
                        "classes": "govuk-input--width-20",
                        "attributes": {
                        "autocomplete": "off"
                        }
                        }) }}

                <div class="form-group">
                    <div id="submit-button">
                        {{
                        govukButton({
                        text: i18n.notifications.email.addressChange.continue
                        })
                        }}
                    </div>
                </div>

                <a class="cancel" href="/manage-email-notifications/{{ mactoken }}">{{ i18n.notifications.email.addressChange.cancel }}</a>

            </form>

        </div>

    </div>

</main>

{% endblock %}
