{% extends "layout.njk" %} {% from "input/macro.njk" import govukInput %} {%
from "button/macro.njk" import govukButton %} {% set pageHeader =
content[i18n.language].notifications.email.addressChange.tab | safe %} {% block
content %}
<main id="content" class="confirm-email-address-change" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "errors/summary.njk" %}

      <h1 class="govuk-heading-l">
        {{ content[i18n.language].notifications.email.addressChange.title | safe
        }}
      </h1>
      <form
        action="/manage-email-notifications/{{ mactoken }}/change"
        method="post"
      >
        {{ govukInput({ label: { text:
        content[i18n.language].common.enterNewEmailAddress }, id: "email", name:
        "email", classes: "govuk-input--width-20", attributes: { autocomplete:
        "off" } }) }} {{ govukInput({ label: { text:
        content[i18n.language].common.enterNewEmailAddressAgain }, id:
        "confirmEmail", name: "confirmEmail", classes: "govuk-input--width-20",
        attributes: { autocomplete: "off" } }) }}

        <div class="form-group">
          <div id="submit-button">
            {{ govukButton({ text:
            content[i18n.language].notifications.email.addressChange.continue })
            }}
          </div>
        </div>
        <a class="cancel" href="/manage-email-notifications/{{ mactoken }}"
          >{{ content[i18n.language].notifications.email.addressChange.cancel |
          safe }}</a
        >
      </form>
    </div>
  </div>
</main>
{% endblock %}
