{% extends "layout.html" %}
{% set pageHeader = i18n.notifications.email.addressChangeConfirmed.tab %}

{% block content %}

<main id="content" class="email-change-confirmed" role="main">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            <div class="govuk-box-highlight">
                <h1 class="bold-small">{{ i18n.notifications.email.addressChangeConfirmed.title }}</h1>
                <br>
                <p class="bold-large">{{ data.email }}</p>
            </div>

            <p>{{ i18n.notifications.email.addressChangeConfirmed.content }}</p>

            <a href="/manage-email-notifications/{{ mactoken }}/change">{{ i18n.notifications.email.addressChangeConfirmed.link }}</a>

        </div>
    </div>

</main>

{% endblock %}
