{% extends "layout.html" %}

{% block page_title %}
{{ i18n.notifications.email.stopConfirmation.tab }}
{% endblock %}

{% block content %}

<main id="content" class="confirm-emails-stop" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">{{ i18n.notifications.email.stopConfirmation.title }}</h1>
            <p>{{ i18n.notifications.email.stopConfirmation.content }}</p>
            <p>{{ i18n.notifications.email.stopConfirmation.exitFeedbackSurveyPreLink }}
                <a href='{{urls.exitFeedbackSurvey}}'>{{ i18n.notifications.email.stopConfirmation.exitFeedbackSurveyLink }}</a>
            </p>
            <p>{{ i18n.notifications.email.stopConfirmation.linkPre }}
                <a href='/trackyourappeal/{{data.appealNumber}}'>{{ i18n.notifications.email.stopConfirmation.linkPost }}</a>
            </p>
        </div>
    </div>

</main>

{% endblock %}
