{% extends "layout.njk" %} {% set pageHeader =
content[i18n.language].notifications.email.stopConfirmation.tab | safe %} {%
block content %}
<main id="content" class="confirm-emails-stop" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ content[i18n.language].notifications.email.stopConfirmation.title |
        safe }}
      </h1>
      <p>
        {{ content[i18n.language].notifications.email.stopConfirmation.content |
        safe }}
      </p>
      <p>
        {{
        content[i18n.language].notifications.email.stopConfirmation.exitFeedbackSurveyPreLink
        | safe }}
        <a href="{{ urls.exitFeedbackSurvey }}"
          >{{
          content[i18n.language].notifications.email.stopConfirmation.exitFeedbackSurveyLink
          | safe }}</a
        >
      </p>
      <p>
        {{ content[i18n.language].notifications.email.stopConfirmation.linkPre |
        safe }}
        <a href="/trackyourappeal/{{data.appealNumber}}"
          >{{
          content[i18n.language].notifications.email.stopConfirmation.linkPost |
          safe }}</a
        >
      </p>
    </div>
  </div>
</main>
{% endblock %}
