{% extends "layout.njk" %} {% from "radios/macro.njk" import govukRadios %} {%
from "button/macro.njk" import govukButton %} {% from
"components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageHeader = content[i18n.language].notifications.email.manage.tab | safe %} {%
block content %}
<main id="content" class="manage-email-notifications" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "errors/summary.njk" %}

      <h1 class="govuk-heading-l">
        {{ content[i18n.language].notifications.email.manage.title | safe }}
      </h1>
      <form action="/manage-email-notifications/{{ mactoken }}" method="post">
        {{ govukRadios({ classes: "govuk-radios", idPrefix: "type", name:
        "type", items: [ { value: "changeEmail", text:
        content[i18n.language].common.changeEmailAddress }, { value:
        "stopEmail", text: content[i18n.language].common.stopReceivingEmails }
        ], errorMessage: { text: error } if error }) }}

        <div class="form-group">
          <div id="submit-button">
            {{ govukButton({ text:
            content[i18n.language].notifications.email.manage.continue }) }}
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
