{% from "button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">{{ content[i18n.language].hearingWhy.booking.header | safe }}</h1>
<p id="responseDate">{{ content[i18n.language].hearingWhy.booking.para1 | eval | date }}</p>
<p>
    {{ content[i18n.language].hearingWhy.booking.para2 | safe }}
    <a href="mailto:{{ content[i18n.language].contactEmail }}?subject={{ hearing.case_reference }}: Hearing">{{ content[i18n.language].contactEmail | safe }}</a>
</p>
<p id="caseReference">{{ content[i18n.language].hearingWhy.booking.para3 | safe }} {{ hearing.case_reference | safe }}</p>
<p>
    {{ govukButton({
        text: content[i18n.language].general.continue,
        href: '/sign-out/?redirectUrl=' + content[i18n.language].hearingWhy.booking.exitLink + pageHeader
    }) }}
</p>
