{% from "button/macro.njk" import govukButton %}
<h1 class="govuk-heading-l">{{ content.en.hearingWhy.booking.header }}</h1>
<p id="responseDate">{{ content.en.hearingWhy.booking.para1 | eval | date }}</p>
<p>{{ content.en.hearingWhy.booking.para2 }}
  <a href="mailto:{{ content.en.contactEmail }}?subject={{ hearing.case_reference }}: Hearing">
    {{ content.en.contactEmail }}
  </a>
</p>
<p id="caseReference">{{ content.en.hearingWhy.booking.para3 }} {{ hearing.case_reference }}</p>
<p>
  {{
    govukButton({
    text: content.en.general.continue,
    href: '/sign-out/?redirectUrl=' + content.en.hearingWhy.booking.exitLink + pageHeader
    })
  }}
</p>
