{% from "button/macro.njk" import govukButton %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout.html" %}

{% block beforeContent %}
  {{ super() }}
  <a href="/tribunal-view" class="govuk-back-link">{{ i18n.general.back }}</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
            titleText: i18n.hearingWhy.error.summaryHeading,
            errorList: [{
                text: error,
                href: "#explain-why"
            }]
          }) 
        }}
      {% endif %}

      <form action="/hearing-why" method="post">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.hearingWhy.header }}</h1>
            <form action="/todo" method="post">
              {{ govukTextarea({
                name: "explain-why",
                id: "explain-why"
              }) }}

            </form>
          </div>
        </div>
        <div id="submit-buttons">
          {{ govukButton({
                text: i18n.general.continue
              }) }}
        </div>
      </form>
    </div>
  </div>
  {% include "includes/contact.html" %}
{% endblock %}