{% extends "layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageHeader = content[i18n.language].hearingWhy.booking.header | safe %}

{% block beforeContent %}
    {{ super() }}
    {% if not submitted %}
        <a href="/tribunal-view" class="govuk-back-link">{{ content[i18n.language].general.back | safe }}</a>
    {% endif %}
{% endblock %}

{% block corContent %}
    {% if not submitted %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if error %}
                    {{ govukErrorSummary({
                        titleText: content[i18n.language].errorSummary.titleText,
                        descriptionText: content[i18n.language].errorSummary.descriptionText,
                        errorList: [{
                        text: error,
                            href: "#explain-why"
                        }]
                    }) }}
                {% endif %}

                {% include "hearing-why/form.html" %}
            </div>
        </div>
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include "hearing-why/booking.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
