#content.hearing .hearing-details {
  background-color: #dee0e2;
  margin-top: 20px;
  padding: 30px 20px 20px 25px;
  float: left;
}

#content.hearing .hearing-details dl {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

#content.hearing .hearing-details dl dt {
  float: inherit;
  width: 25%;
}

#content.hearing .hearing-details dl dd {
  float: inherit;
  width: 50%;
  font-weight: bold;
}

#content.hearing .hearing-details a.link {
  margin-top: 15px;
  display: block;
  white-space: nowrap;
  font-weight: normal;
}

#content.hearing .hearing-details .date-time span {
  font-weight: normal;
  white-space: nowrap;
}

#content.hearing .hearing-details .date-time span .time {
  font-weight: bold;
}

#content.hearing .hearing-details .address dd span {
  display: block;
  white-space: nowrap;
}

#content.hearing .hearing-details .interpreter dd span:not(:first-child) {
  display: block;
  font-weight: normal;
}

#content.hearing .panel.panel-border-wide {
  float: left;
}

#content.hearing .about-hearing {
  margin-top: 35px;
}

@media (max-width: 400px) {
  #content.hearing .hearing-details dl dd {
    clear: both;
  }
}
