{% extends "layout.html" %}

{% block beforeContent %}
    {{ super() }}
    <a href="/task-list" class="govuk-back-link">{{ i18n.backLink }}</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ i18n.questionsCompleted.header }}</h1>
            <p>{{ i18n.questionsCompleted.para1}}</p>
            <p>{{ i18n.questionsCompleted.para2Start}} {{ nextCorrespondenceDate }} {{ i18n.questionsCompleted.para2End}}</p>
            <p>
                <a class="govuk-link" href="/logout">{{ i18n.questionsCompleted.exitService }}</a>
            </p>
        </div>
    </div>
{% endblock %}
