<h1 class="govuk-heading-l">{{ i18n.additionalInfo.evindencePost.header }}</h1>

<p>{{i18n.additionalInfo.evindencePost.subtitle}}</p>
<p >
    <address aria-label="{{ i18n.guidance.sendingEvidence.screenReaderPostalAddress }}">
        <span class="govuk-body govuk-!-font-weight-bold" aria-hidden="true">{{ i18n.guidance.sendingEvidence.postalAddress | safe }}</span>
    </address>
</p>
<p>{{i18n.additionalInfo.evindencePost.description.para1 | eval | safe  }}</p>
<p>{{i18n.additionalInfo.evindencePost.description.para2  }}</p>
<p>{{i18n.additionalInfo.evindencePost.description.para3 | eval | safe}}</p>



