.account-navigation {
    display: flex;
    justify-content: space-between;
    &__home {
        a {
            display: flex;
            flex-basis: 65%;
    
            :first-child {
                margin-right: 0.125rem;
            }
            :last-child {
                margin-left: 0.125rem;
            }
            img {
                height: 1rem;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        @include govuk-media-query($from: tablet) {
            flex-direction: row;
            justify-content: space-between;
            a {
                margin-left: 20px;
            }
        }
        a {
            line-height: 1.5rem;
        }
    }
}