#question-field {
  width: 75%;
}

#sending-evidence-guide {
  h2.govuk-heading-s {
    margin-bottom: 6px;
  }
  div {
    padding-left: 0;
    border: none;
  }
}

#question-body {
  white-space: pre-wrap;
}

#submit-buttons {
  input {
    display: block;

    &.govuk-link {
      @include govuk-font($size: 19);
      border: none;
      cursor: pointer;
      text-decoration: underline;
      color: #005ea5;
      padding-left: 0;

      &:hover {
        color: #2b8cc4;
      }
    }
  }
}

#completed-answer {
  background: govuk-colour("grey-4");
  padding: 20px;
}
