#question-field {
  width: 75%;
}

#sending-evidence-guide {
  h2.govuk-heading-s {
    margin-bottom: 6px;
  }
  div {
    padding-left: 0;
    border: none;
  }
}

#question-body {
  white-space: pre-wrap;
}

#completed-answer {
  background: govuk-colour("grey-4");
  margin-top: 40px;
  padding: 20px 20px 0 20px;
  overflow: auto;
}

table#files-uploaded {
  tr {
    td span {
      width: 30%;
      display:inline-block;
      word-wrap: break-word;
    }
  }
}

#evidence-upload {
  .evidence-upload-js {
    display: none;
  }
  .panel-indent {
    border-left: 5px solid $govuk-border-colour;
    padding-top: 15px;
    padding-left: 15px;
  }
  [for=file-upload-1] {
    margin-bottom: 0;
  }
  #file-upload-1-error {
    margin-top: 15px;
  }
}