.task-list {
  margin-top: 40px;
  margin-bottom: 40px;
  .questions-list {
    li {
      border-bottom: 1px solid $govuk-border-colour;
      padding: 10px 0;
  
      &:first-child {
        border-top: 1px solid $govuk-border-colour;
      }

      a {
        display: block;
        @include govuk-media-query($from: tablet) {
          display: inline;
        }
      }
  
      .answer-state {
        @extend .govuk-tag;
        @include govuk-media-query($from: tablet) {
          float: right;
        }
  
        &.draft {
          background-color: govuk-colour("grey-1");
        }
      }
    }
  }
  
  h2 {
    margin-bottom: 6px;
  }
  #extend-deadline {
    font-size: 16px;
  }
}

#appeal-details {
  h2 {
    margin-bottom: 0;
  }
  #logout {
    font-weight: $govuk-font-weight-regular;
    font-size: 19px;
  }
}
