$govuk-global-styles: true;
$govuk-assets-path: '/public/govuk-frontend/';

@import "node_modules/govuk-frontend/all";
@import "_question";
@import "_task-list";
@import "_contact-include";
@import "_decision";
@import "_cookie-banner";
@import "_session-modal";
@import "_account-navigation";
@import "_navigation-tabs";
@import "_status-bar";
@import "_panel";
@import "_history-list";
@import "_hearing-details";

body {
  font-size: 1.1875rem;
  font-family: "nta",Arial,sans-serif;
}

.divider {
  border-bottom: 3px solid govuk-colour("blue");
}

.divider--l {
  border-bottom: 10px solid govuk-colour("blue");
  margin-bottom: 10px;
}

#navigation {
  float: right;
}

.secondary-button {
  background-color: govuk-colour("grey-3");
  color: govuk-colour("black");
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("black");
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: darken(govuk-colour("grey-3"), 5%);
  }
}

.button-padding {
  margin-right: 30px !important;
}

// Link styled buttons
input {
  display: block;

  &.govuk-link {
    background: none;
    @include govuk-font($size: 19);
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: $govuk-link-colour;
    padding: 0;

    &:hover {
      color: govuk-colour("light-blue");
    }
  }
}

ul {
  @extend %govuk-list;
  @extend %govuk-list--bullet;
}

ol {
  @extend %govuk-list;
  @extend %govuk-list--number;
}

//Header


.govuk-header__logo { 
  @include govuk-media-query($from: desktop) {
    width: 40%
  }
}

.govuk-header__content { 
  @include govuk-media-query($from: desktop) {
    width: 60%
  }
}


.govuk-header__link--signout {
  margin-top:5px;
  float:right;
  font-weight:700;
}

.govuk-header__link--service-name {
  font-size: 21px;
  margin-top: 1px;
}

address {
  font-style: normal;
}

.govuk-details__text address {
  margin-bottom: 20px;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 60%;
}

.col-3 {
  width: 15%;
}

.align--top {
  vertical-align: top;
}

.element--inline-block {
  display: inline-block;
}

.display--none {
  display: none;
}

.--margin-bottom-s {
  margin-bottom: 6px;
}

.--margin-bottom-m {
  margin-bottom: 15px;
}

.--margin-top-m {
  margin-top: 15px;
}

.--padding-top-m {
  padding-top: 20px;
}

.--font-weight-b {
  font-weight: bold;
}

.--margin-none {
  margin: 0;
}

.--vertical-align-top {
  vertical-align: top;
}
