$govuk-global-styles: true;
$govuk-assets-path: '/public/govuk-frontend/';

@import "node_modules/govuk-frontend/all";
@import "_question";
@import "_task-list";
@import "_contact-include";
@import "_decision";
@import "_cookie-banner";

.divider {
  border-bottom: 3px solid govuk-colour("blue");
}

#navigation {
  float: right;
}

.secondary-button {
  background-color: govuk-colour("grey-3");
  color: govuk-colour("black");
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("black");
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: darken(govuk-colour("grey-3"), 5%);
  }
}

.button-padding {
  margin-right: 30px !important;
}

// Link styled buttons
input {
  display: block;

  &.govuk-link {
    background: none;
    @include govuk-font($size: 19);
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: $govuk-link-colour;
    padding: 0;

    &:hover {
      color: govuk-colour("light-blue");
    }
  }
}