{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set pageHeader = content[i18n.language].cookiePrivacy.cookies.title | safe %}
{% block beforeContent %}
  {{ super()}}
  {{ govukBackLink({
    href: "#",
    text: content[i18n.language].general.back,
    attributes : { onclick: "history.go(-1); return false;" }
  }) }}
{% endblock beforeContent %}
{% block content %}
<div class="govuk-grid-row">
  <div class="group help-page cookie-settings govuk-grid-column-full">
    <div class="grid-row govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-xl">{{ content[i18n.language].new.cookies.title | safe }}</h1>
      <p class="govuk-body-m">{{ content[i18n.language].new.cookies.description | safe }}</p>
      <p class="govuk-body-m">{{ content[i18n.language].new.usedInService.uses | safe }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ content[i18n.language].new.usedInService.use1 | safe }}</li>
        <li>{{ content[i18n.language].new.usedInService.use2 | safe }}</li>
      </ul>
      <h2 class="govuk-heading-l">{{ content[i18n.language].new.howAreTheyUsed.title | safe }}</h2>
      <form class="cookie-preferences-form">
        <div class="govuk-form-group">
          {% call govukFieldset({
            legend: {
              text: content[i18n.language].new.howAreTheyUsed.googleCookies.title,
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}
          <p class="govuk-body-m">
            {{ content[i18n.language].new.howAreTheyUsed.googleCookies.description | safe }}
          </p>
          {{ govukTable({
            caption: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.title,
            captionClasses: "govuk-table__caption",
            firstCellIsHeader: true,
            head: [
              { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.columnName1 },
              { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.columnName2 },
              { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.columnName3 }
            ],
            rows: [
              [
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item1Name },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item1Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item1Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item2Name },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item2Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item2Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item3Name },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item3Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.googleCookies.cookieTable.item3Expires }
              ]
            ]
          }) }}
          {{ govukRadios({
            classes: 'govuk-radios',
            idPrefix: 'analytics',
            name: 'analytics',
            fieldset: {
              legend: {
                text: content[i18n.language].new.howAreTheyUsed.googleCookies.optOut.title,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: 'on',
                text: content[i18n.language].new.howAreTheyUsed.googleCookies.optOut.optOut1
              },
              {
                value: 'off',
                text: content[i18n.language].new.howAreTheyUsed.googleCookies.optOut.optOut2,
                checked: true
              }
            ]
          }) }}
          {% endcall %}
        </div>
        <div class="govuk-form-group">
          {% call govukFieldset({
            legend: {
              text: content[i18n.language].new.howAreTheyUsed.performance.title,
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}
          <p class="govuk-body-m">
            {{ content[i18n.language].new.howAreTheyUsed.performance.description | safe }}
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ content[i18n.language].new.howAreTheyUsed.performance.infolist1 | safe }}</li>
            <li>{{ content[i18n.language].new.howAreTheyUsed.performance.infolist2 | safe }}</li>
            <li>{{ content[i18n.language].new.howAreTheyUsed.performance.infolist3 | safe }}</li>
          </ul>
          <p class="govuk-body-m">
            {{ content[i18n.language].new.howAreTheyUsed.performance.info2 | safe }}
          </p>
          {{ govukTable({
            caption: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.title,
            captionClasses: "govuk-table__caption",
            firstCellIsHeader: true,
            head: [
              { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.columnName1 },
              { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.columnName2 },
              { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.columnName3 }
            ],
            rows: [
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item1Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item1Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item1Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item2Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item2Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item2Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item3Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item3Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item3Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item4Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item4Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item4Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item5Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item5Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item5Expires }
              ],
              [
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item6Name },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item6Purpose },
                { text: content[i18n.language].new.howAreTheyUsed.performance.cookieTable.item6Expires }
              ]
            ]
          }) }}
          {{ govukRadios({
            classes: 'govuk-radios',
            idPrefix: 'apm',
            name: 'apm',
            fieldset: {
              legend: {
                text: content[i18n.language].new.howAreTheyUsed.performance.optOut.title,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: 'on',
                text: content[i18n.language].new.howAreTheyUsed.performance.optOut.optOut1
              },
              {
                value: 'off',
                text: content[i18n.language].new.howAreTheyUsed.performance.optOut.optOut2,
                checked: true
              }
            ]
          }) }}
          {% endcall %}
        </div>
        <div class="govuk-form-group">
          {% call govukFieldset({
            legend: {
              text: content[i18n.language].new.howAreTheyUsed.essentialCookies.title,
              classes: "govuk-fieldset__legend--s",
              isPageHeading: true
            }
          }) %}
          <p class="govuk-body">{{ content[i18n.language].new.howAreTheyUsed.essentialCookies.description | safe }}</p>
          <p class="govuk-body">
            <a target="_blank" rel="noreferrer noopener" href="https://hmcts-access.service.gov.uk/cookies">
              {{ content[i18n.language].new.howAreTheyUsed.essentialCookies.link | safe }}
            </a>
          </p>
          {% endcall %}
        </div>
        {% include "./cookie-success-banner.njk" %}
        {{ govukButton({
          text: content[i18n.language].new.cookies.save
        }) }}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
