{% extends "layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% set pageHeader = content.en.cookiePrivacy.cookies.title  %}
{% macro cookieTable(items, columnNames) %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            {% for columnName in columnNames %}
            <th class="govuk-table__header" scope="col">{{columnName}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for item in items %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{item.name}}</td>
            <td class="govuk-table__cell">{{item.purpose}}</td>
            <td class="govuk-table__cell">{{item.expires}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block beforeContent %}
    {{super()}}
    {{ govukBackLink({
        href: "#",
        text: "Back",
        attributes : { onclick: "history.go(-1); return false;" }
        })
    }}
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ content.en.cookiePrivacy.cookies.title }}</h1>

        <p>{{ content.en.cookiePrivacy.cookies.description }}</p>

        <h2 class="govuk-heading-m">{{ content.en.cookiePrivacy.usedInService.title }}</h2>
        <p>{{ content.en.cookiePrivacy.usedInService.uses }}</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for use in content.en.cookiePrivacy.usedInService.usesList %}
            <li>{{ use }}</li>
            {% endfor %}
        </ul>
        <p>{{ usedInService.more }}<a href="http://www.aboutcookies.org/">{{ content.en.cookiePrivacy.usedInService.manage }}</a></p>

        <h2 class="govuk-heading-m">{{ content.en.cookiePrivacy.howAreTheyUsed.title }}</h2>
        <p>{{ content.en.cookiePrivacy.howAreTheyUsed.description }}</p>
        <p>{{ content.en.cookiePrivacy.howAreTheyUsed.info }}</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for info in content.en.cookiePrivacy.howAreTheyUsed.infoList %}
            <li>{{ info }}</li>
            {% endfor %}
        </ul>
        <p>{{ content.en.cookiePrivacy.howAreTheyUsed.googleShare }}<a href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ content.en.cookiePrivacy.howAreTheyUsed.googlePrivacyPolicy }}</a></p>
        <p>
            {{ content.en.cookiePrivacy.howAreTheyUsed.optOut.youCan }}
            <a href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ content.en.cookiePrivacy.howAreTheyUsed.optOut.google }}</a>
            {{ content.en.cookiePrivacy.howAreTheyUsed.optOut.access }}
        </p>

        <p>{{ content.en.cookiePrivacy.howAreTheyUsed.googleCookies }}</p>
        {{ cookieTable( content.en.cookiePrivacy.howAreTheyUsed.cookieTable.items, content.en.cookiePrivacy.howAreTheyUsed.cookieTable.columnNames ) }}

        <h2 class="govuk-heading-m">{{ introMessage.title }}</h2>
        <p>{{ content.en.cookiePrivacy.introMessage.description }}</p>
        {{ cookieTable( content.en.cookiePrivacy.introMessage.cookieTable.items, content.en.cookiePrivacy.introMessage.cookieTable.columnNames ) }}

        <h2 class="govuk-heading-m">{{ content.en.cookiePrivacy.sessionCookie.title }}</h2>
        <p>{{ content.en.cookiePrivacy.sessionCookie.description }}</p>
        {{ cookieTable( content.en.cookiePrivacy.sessionCookie.cookieTable.items, content.en.cookiePrivacy.sessionCookie.cookieTable.columnNames ) }}
    </div>
</div>
{% endblock %}
