{% extends "layout.html" %}

{% block beforeContent %}
  {{ super() }}
  <a href="/task-list" class="govuk-back-link">{{ i18n.general.back }}</a>
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l question-header">{{ i18n.additionalEvidence.about.header }}</h1>
                <p class="govuk-body-l">{{ i18n.additionalEvidence.about.leadParagraph }}</p>
                <p>{{ i18n.additionalEvidence.about.intro }}</p>

                <h2 class="govuk-heading-m">{{ i18n.additionalEvidence.about.types.medical.header }}</h2>
                <p>{{ i18n.additionalEvidence.about.types.medical.para1 }}</p>
                <p>{{ i18n.additionalEvidence.about.types.medical.para2 }}</p>

                <h2 class="govuk-heading-m">{{ i18n.additionalEvidence.about.types.statement.header }}</h2>
                <p>{{ i18n.additionalEvidence.about.types.statement.para1 }}</p>
                <p>{{ i18n.additionalEvidence.about.types.statement.para2 }}</p>

                <h2 class="govuk-heading-m">{{ i18n.additionalEvidence.about.types.photographic.header }}</h2>
                <p>{{ i18n.additionalEvidence.about.types.photographic.para1 }}</p>

                <h2 class="govuk-heading-m">{{ i18n.additionalEvidence.about.types.oral.header }}</h2>
                <p>{{ i18n.additionalEvidence.about.types.oral.para1 }}</p>

                <h2 class="govuk-heading-m">{{ i18n.additionalEvidence.about.types.post.header }}</h2>
                <p>{{ i18n.additionalEvidence.about.types.post.para1 }}</p>
                <p>{{ i18n.additionalEvidence.about.types.post.para2  | eval | safe }}</p>
                <p>{{ i18n.additionalEvidence.about.types.post.para3  | eval | safe }}</p>

        </div>
        <div class="govuk-grid-column-one-third">
            <div class="divider divider--l"></div>
            <h3 class="govuk-heading-s">About your appeal</h3>
            <ul class="govuk-list govuk-!-font-size-16">
                <li>
                    <a class="govuk-link" href="">What to expect at your hearing</a>
                </li>
                <li>
                    <a class="govuk-link" href="">Claiming hearing expenses</a>
                </li>
                <li>
                    <a class="govuk-link" href="">Track your appeal</a>
                </li>
                <li>
                    <a class="govuk-link" href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}