{% extends "layout.njk" %} {% block beforeContent %} {{ super() }}
<a href="/task-list" class="govuk-back-link"
  >{{ content[i18n.language].general.back | safe }}</a
>
{% endblock %} {% block corContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl question-header">
      {{ content[i18n.language].additionalEvidence.about.header | safe }}
    </h1>
    <p class="govuk-body-l">
      {{ content[i18n.language].additionalEvidence.about.leadParagraph | safe }}
    </p>
    <p>
      {{ content[i18n.language].additionalEvidence.about.intro.para1 | safe }}
    </p>
    <p>
      {{ content[i18n.language].additionalEvidence.about.intro.para2 | safe }}
    </p>

    <h2 class="govuk-heading-m">
      {{ content[i18n.language].additionalEvidence.about.types.medical.header |
      safe }}
    </h2>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.medical.para1 |
      safe }}
    </p>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.medical.para2 |
      safe }}
    </p>

    <h2 class="govuk-heading-m">
      {{ content[i18n.language].additionalEvidence.about.types.statement.header
      | safe }}
    </h2>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.statement.para1 |
      safe }}
    </p>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.statement.para2 |
      safe }}
    </p>

    <h2 class="govuk-heading-m">
      {{
      content[i18n.language].additionalEvidence.about.types.photographic.header
      | safe }}
    </h2>
    <p>
      {{
      content[i18n.language].additionalEvidence.about.types.photographic.para1 |
      safe }}
    </p>

    <h2 class="govuk-heading-m">
      {{ content[i18n.language].additionalEvidence.about.types.oral.header |
      safe }}
    </h2>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.oral.para1 | safe
      }}
    </p>
    <p>
      {{ content[i18n.language].additionalEvidence.about.types.oral.para2 | safe
      }}
    </p>

    <h2 class="govuk-heading-m">
      {{ content[i18n.language].additionalEvidence.about.howto.header | safe }}
    </h2>
    <p>
      {{ content[i18n.language].additionalEvidence.about.howto.para1 | safe }}
    </p>
    {{ content[i18n.language].additionalEvidence.about.howto.options | eval |
    safe }}
    <p>
      {{ content[i18n.language].additionalEvidence.about.howto.cta | eval | safe
      }}
    </p>
  </div>
</div>
{% endblock %}
