{% extends "layout.html" %}

{% block beforeContent %}
  {{ super() }}
  <a href="/task-list" class="govuk-back-link">{{ content.en.general.back }}</a>
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl question-header">{{ content.en.additionalEvidence.about.header }}</h1>
                <p class="govuk-body-l">{{ content.en.additionalEvidence.about.leadParagraph }}</p>
                <p>{{ content.en.additionalEvidence.about.intro.para1 }}</p>
                <p>{{ content.en.additionalEvidence.about.intro.para2 }}</p>

                <h2 class="govuk-heading-m">{{ content.en.additionalEvidence.about.types.medical.header }}</h2>
                <p>{{ content.en.additionalEvidence.about.types.medical.para1 }}</p>
                <p>{{ content.en.additionalEvidence.about.types.medical.para2 }}</p>

                <h2 class="govuk-heading-m">{{ content.en.additionalEvidence.about.types.statement.header }}</h2>
                <p>{{ content.en.additionalEvidence.about.types.statement.para1 }}</p>
                <p>{{ content.en.additionalEvidence.about.types.statement.para2 }}</p>

                <h2 class="govuk-heading-m">{{ content.en.additionalEvidence.about.types.photographic.header }}</h2>
                <p>{{ content.en.additionalEvidence.about.types.photographic.para1 }}</p>

                <h2 class="govuk-heading-m">{{ content.en.additionalEvidence.about.types.oral.header }}</h2>
                <p>{{ content.en.additionalEvidence.about.types.oral.para1 }}</p>
                <p>{{ content.en.additionalEvidence.about.types.oral.para2 }}</p>

                <h2 class="govuk-heading-m">{{ content.en.additionalEvidence.about.howto.header }}</h2>
                <p>{{ content.en.additionalEvidence.about.howto.para1 }}</p>
                {{ content.en.additionalEvidence.about.howto.options | eval | safe }}
                <p>{{ content.en.additionalEvidence.about.howto.cta | eval | safe  }}</p>
        </div>
    </div>
{% endblock %}
