{% from "button/macro.njk" import govukButton %} {% from "file-upload/macro.njk"
import govukFileUpload %} {% from "textarea/macro.njk" import govukTextarea %}
{% from "components/spinner.njk" import spinner %} {% from
"components/evidence-list.njk" import evidenceList with context %}

<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l question-header">
    {{ content[i18n.language].additionalEvidence.evidenceUpload.header | safe }}
  </h1>
  <p>
    {{
    content[i18n.language].additionalEvidence.evidenceUpload.description.para1 |
    safe }}
  </p>

  <p>
    {{
    content[i18n.language].additionalEvidence.evidenceUpload.description.para2 |
    eval | safe }}.
  </p>
  <form
    class="--padding-top-m"
    id="additional-evidence-form"
    name="additional-evidence-form"
    action="/additional-evidence/upload?_csrf={{csrfToken}}"
    method="POST"
    enctype="multipart/form-data"
  >
    {{ govukTextarea({ id: "additional-evidence-description", name:
    "additional-evidence-description", value: description, label: { text:
    content[i18n.language].common.describeTheEvidence | safe, classes:
    "--font-weight-b --margin-none" }, hint: { text:
    content[i18n.language].common.breflyDescribeWhatAndWhy | safe },
    errorMessage: { text: error } if error }) }}

    <p>
      {{
      content[i18n.language].additionalEvidence.evidenceUpload.description.para3
      | eval | safe }}.
    </p>
    <p>
      {{
      content[i18n.language].additionalEvidence.evidenceUpload.description.para5
      | eval | safe }}.
    </p>

    <!--        https://design-system.service.gov.uk/components/file-upload/-->
    {{ govukFileUpload({ id: "additional-evidence-file", name:
    "additional-evidence-file", classes: "file-display-none", label: { text:
    content[i18n.language].additionalEvidence.evidenceUpload.label, classes:
    "govuk-button secondary-button element--inline-block", id:
    "additional-evidence-file-label" }, attributes: { accept: fileTypeWhiteList
    }, "errorMessage": { "text": fileUploadError } if fileUploadError }) }} {{
    evidenceList(evidences) }}
    <div id="submit-buttons">
      {{ spinner(content[i18n.language].additionalEvidence.loading | safe) }}
      <input
        id="submit-evidences"
        type="submit"
        name="buttonSubmit"
        value="{{ content[i18n.language].common.submitEvidenceToTribunal | safe }}"
        class="govuk-button"
      />
    </div>
  </form>
</div>
