{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}

<div class="govuk-grid-column-two-thirds">
    <form action="/additional-evidence", method="post">
        {{ govukRadios({
            idPrefix: "additional-evidence-option",
            name: "additional-evidence-option",
            fieldset: {
                legend: {
                text: content.en.additionalEvidence.evidenceOptions.header,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
                }
            },
            errorMessage: {
                text: content.en.additionalEvidence.evidenceOptions.error.noButtonSelected
            } if error,
            items: [
                {
                    value: "statement",
                    text: "Provide your information online"
                },
                {
                    value: "upload",
                    text: "Upload letters, documents or photos"
                },
                {
                    value: "post",
                    text: "Send by post"
                }
            ]
            })
        }}
        {% include "includes/csrf-hidden-input.html" %}
        <div id="submit-buttons">
            {{
                govukButton({
                    name: "continue",
                    text: "Continue"
                })
            }}
        </div>
    </form>
</div>
