{% from "components/textarea/macro.njk" import govukTextarea %} {% from
"components/spinner.njk" import spinner %}

<div class="govuk-grid-column-two-thirds">
  <form
    id="statement-form"
    action="/additional-evidence/statement"
    method="post"
  >
    <div>
      {{ govukTextarea({ label: { text:
      content[i18n.language].additionalEvidence.evidenceStatement.header,
      classes: "govuk-label--l", isPageHeading: true }, hint: { text:
      content[i18n.language].additionalEvidence.evidenceStatement.description },
      id: "question-field", classes: "auto-expand", name: "question-field",
      value: "", attributes: { placeholder:
      content[i18n.language].additionalEvidence.evidenceStatement.placeholder,
      "aria-label":
      content[i18n.language].additionalEvidence.evidenceStatement.label,
      autocomplete: "off" }, rows: 6, errorMessage: { text: error } if error })
      }}
    </div>
    {% include "includes/csrf-hidden-input.njk" %}
    <div id="submit-buttons">
      {{ spinner(content[i18n.language].additionalEvidence.loading | safe) }}
      <input
        id="submit-statement"
        type="submit"
        name="submit"
        value="{{ content[i18n.language].additionalEvidence.evidenceStatement.button | safe }}"
        class="govuk-button button-padding"
      />
    </div>
  </form>
</div>
