{% from "button/macro.njk" import govukButton %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "components/spinner.html" import spinner %}
{% from "components/evidence-list.html" import evidenceList with context %}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l question-header">{{ content[i18n.language].additionalEvidence.evidenceUpload.header | safe }}</h1>
    <p>{{ content[i18n.language].additionalEvidence.evidenceUpload.description.para1 | safe }}</p>
    <p>{{ content[i18n.language].additionalEvidence.evidenceUpload.description.para2  | eval | safe }}.</p>
    <form class="--padding-top-m" id="additional-evidence-form" name="additional-evidence-form" action="/additional-evidence/upload?_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data">
        {{ govukTextarea({
            id: "additional-evidence-description",
            name: "additional-evidence-description",
            value: description,
            label: {
              text: "Describe the evidence",
              classes: "--font-weight-b --margin-none"
            },
            hint: {
              text: "Briefly describe what you’re uploading and why"
            },
            errorMessage: {
                text: error
            } if error
          }) }}

        {{ govukFileUpload({
            id: "additional-evidence-file",
            name: "additional-evidence-file",
            classes: "file-display-none",
            label: {
                text: content[i18n.language].questionUploadEvidence.label,
                classes: "govuk-button secondary-button element--inline-block",
                id: "additional-evidence-file-label"
            },
            attributes: {
                accept: fileTypeWhiteList
            },
            "errorMessage": {
                "text": fileUploadError
            } if fileUploadError
        }) }}

        {{ spinner(content[i18n.language].question.evidenceUpload.fileUploading) }}

        {{ evidenceList(evidences) }}
        <div id="submit-buttons">
            <input id="submit-evidences" type="submit" name="buttonSubmit" value="Submit evidence to the tribunal" class="govuk-button">
        </div>
    </form>
</div>
