{% extends "layout.html" %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% if action === 'options' %}
  {% set pageHeader, pageTitle = i18n.additionalEvidence.evidenceOptions.header %}
{% elseif action === 'post' %}
  {% set pageHeader, pageTitle = i18n.additionalEvidence.evidencePost.header %}
{% elseif action === 'upload' %}
  {% set pageHeader, pageTitle = i18n.additionalEvidence.evidenceUpload.header %}
{% elseif action === 'statement' %}
  {% set pageHeader, pageTitle = i18n.additionalEvidence.evidenceStatement.header %}
{% elseif action === 'confirm' %}
  {% set pageHeader, pageTitle = i18n.additionalEvidence.evidenceConfirm.header %}
{% endif %}

{% block pageTitle %}
  {{ pageTitle }} - {{ i18n.general.serviceTitle }} - {{ i18n.general.govUK }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% if action === 'options' %}
  <a href="/task-list" class="govuk-back-link">{{ i18n.general.back }}</a>
   {% elseif action !== 'confirm' %}
  <a href="/additional-evidence" class="govuk-back-link">{{ i18n.general.back }}</a>
  {% endif %}
{% endblock %}

{% block corContent %}
  <div class="govuk-grid-row">
      {% if error or fileUploadError %}
        {{ govukErrorSummary({
            titleText: i18n.errorSummary.titleText,
            descriptionText: i18n.errorSummary.descriptionText,
            errorList: [
              {
                text: error,
                href: "#question-field"
              } if error,
              {
                text: fileUploadError,
                href: "#file-field"
              } if fileUploadError
            ]
        }) }}
      {% endif %}

      {% if action === 'options' %}

          {% include "additional-evidence/evidence-options.html" %}

      {% elseif action === 'post' %}

          {% include "includes/post-evidence.html" %}

      {% elseif action === 'upload' %}

          {% include "additional-evidence/evidence-upload.html" %}

      {% elseif action === 'statement' %}

          {% include "additional-evidence/evidence-statement.html" %}

      {% elseif action === 'confirm' %}

          {% include "additional-evidence/evidence-confirm.html" %}

      {% endif %}
  </div>
{% endblock %}