{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "layout.html" %}
{% set pageHeader = content.en.hearingConfirm.header %}
{% block beforeContent %}
  {{ super() }}
  <a href="/tribunal-view" class="govuk-back-link">{{ content.en.general.back }}</a>
{% endblock %}

{% block corContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
            titleText: content.en.errorSummary.titleText,
            descriptionText: content.en.errorSummary.descriptionText,
            errorList: [{
                text: error,
                href: "#new-hearing-1"
            }]
          })
        }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ content.en.hearingConfirm.header }}</h1>
      <p>{{ content.en.hearingConfirm.para }}</p>
      <form action="/hearing-confirm" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "new-hearing",
            name: "new-hearing",
            fieldset: {
              legend: {
                text: content.en.hearingConfirm.legend,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: content.en.general.yes
              },
              {
                value: "no",
                text: content.en.general.no
              }
            ],
            errorMessage: {
              text: error
            } if error
          })
        }}
        {% include "includes/csrf-hidden-input.html" %}
        <div id="submit-button">
        {{ govukButton({
          text: content.en.general.continue
        }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
