{% extends "layout.html" %}
{% from "components/textarea/macro.njk" import govukTextarea %}

{% block beforeContent %}
    {{ super() }}
    <a href="#" class="govuk-back-link">{{ i18n.backLink }}</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ question.header }}</h1>
            <div>
                <p>{{ question.body }}</p>
                {{ govukTextarea({
                    id: 'question-field',
                    label: {
                        text: i18n.question.textareaField.label,
                        classes: 'govuk-visually-hidden'
                    },
                    attributes: {
                        placeholder: i18n.question.textareaField.placeholder
                    },
                    rows: 6
                }) }}
            </div>
        </div>
    </div>

    {% include "includes/sending-evidence.html" %}
{% endblock %}
