{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ i18n.taskList.header }}</h1>

        <div id="task-list">
            <h2 class="govuk-heading-s">Questions from the tribunal</h2>
            <ul class="govuk-list">
                {% for question in questions %}
                    {% set answerState = question.current_question_state.state_name %}
                    <li>
                        <a class="govuk-link" href="/question/{{ hearingId }}/{{ question.question_id }}">{{ question.question_header_text }}</a>
                        {% if answerState %}
                            <span class="answer-state {{ question.current_question_state.state_name }}">
                                {{
                                    i18n.taskList.answerState.completed
                                    if answerState === 'answer_submitted'
                                    else i18n.taskList.answerState.draft
                                }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>


    </div>
</div>
{% endblock %}
