<h1 class="govuk-heading-l">{{ content[i18n.language].extendDeadline.contactTribunal.header | safe }}</h1>
<p>{{ content[i18n.language].extendDeadline.contactTribunal.para1 | safe }}</p>
<p>
  {{ content[i18n.language].extendDeadline.contactTribunal.para2 | safe }}
  <a href="mailto:{{ content[i18n.language].contactEmail }}?subject=Extend Deadline {{ hearing.case_reference }}">{{ content[i18n.language].contactEmail | safe }}</a>
</p>
<p>{{ content[i18n.language].extendDeadline.contactTribunal.para3 | safe }}</p>
<p>{{ content[i18n.language].extendDeadline.contactTribunal.para4 | safe }}</p>
<p><a href="/task-list" class="govuk-link">{{ content[i18n.language].general.backToQuestions | safe }}</a></p>
