<h1 class="govuk-heading-l">{{ i18n.extendDeadline.contactTribunal.header }}</h1>
<p>
  {{ i18n.extendDeadline.contactTribunal.para1 }}
</p>
<p>
  {{ i18n.extendDeadline.contactTribunal.para2 }}
  <a href="mailto:{{ i18n.contactEmail }}?subject=Extend Deadline {{ hearing.case_reference }}">
    {{ i18n.contactEmail }}
  </a>
</p>
<p>
  {{ i18n.extendDeadline.contactTribunal.para3 }}
</p>
<p>
  {{ i18n.extendDeadline.contactTribunal.para4 }}
</p>
<p>
  <a href="/task-list" class="govuk-link">{{ i18n.general.backToQuestions }}</a>
</p>