<h1 class="govuk-heading-l">{{ content.en.extendDeadline.contactTribunal.header }}</h1>
<p>
  {{ content.en.extendDeadline.contactTribunal.para1 }}
</p>
<p>
  {{ content.en.extendDeadline.contactTribunal.para2 }}
  <a href="mailto:{{ content.en.contactEmail }}?subject=Extend Deadline {{ hearing.case_reference }}">
    {{ content.en.contactEmail }}
  </a>
</p>
<p>
  {{ content.en.extendDeadline.contactTribunal.para3 }}
</p>
<p>
  {{ content.en.extendDeadline.contactTribunal.para4 }}
</p>
<p>
  <a href="/task-list" class="govuk-link">{{ content.en.general.backToQuestions }}</a>
</p>
