{% from "button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.html" %}

{% if (not extend) and (hearing.extensionCount > 0) %}
    {% set pageHeader = content[i18n.language].extendDeadline.contactTribunal.header %}
{% elseif not extend %}
    {% set pageHeader = content[i18n.language].extendDeadline.header %}
{% elseif extend == 'yes' %}
    {% set pageHeader = content[i18n.language].extendDeadline.yes.header %}
{% elseif extend == 'no' %}
    {% set pageHeader = content[i18n.language].extendDeadline.no.header %}
{% endif %}

{% block beforeContent %}
    {{ super() }}
{% endblock %}

{% block corContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if error %}
                {{ govukErrorSummary({
                    titleText: content[i18n.language].errorSummary.titleText,
                    descriptionText: content[i18n.language].errorSummary.descriptionText,
                    errorList: [{
                        text: content[i18n.language].extendDeadline.error.text,
                        href: "#extend-deadline-1"
                    }]
                }) }}
            {% endif %}

            {% if (not extend) and (hearing.extensionCount > 0) %}
                {% include "extend-deadline/contact-tribunal.html" %}
            {% elseif not extend %}
                {% include "extend-deadline/confirmation-form.html" %}
            {% elseif extend == 'yes' %}
                {% include "extend-deadline/confirmation-yes.html" %}
            {% elseif extend == 'no' %}
                {% include "extend-deadline/confirmation-no.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
